#animal-groups-workspace-container {
    height: 88vh;
    width: 85vw;
    background-color: #F5F6FA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#animals-groups-toolbar-container {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #CCCCCC;
    background-color: white;
}

#animals-groups-toolbar-navigationtree-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
}

#animals-groups-toolbar-navigation {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#animals-groups-toolbar-navigation>a {
    color: #AAAAAA;
    font-size: 130%;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#animals-groups-toolbar-navigation>a:hover {
    color: #1A1A1A;
    cursor: pointer;
}

#animals-groups-toolbar-navigation>a.activeView {
    color: #1A1A1A;
}

#animals-groups-toolbar {
    height: 100%;
    width: 10%;
    font-size: 120%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#animal-groups-view-workspace {
    height: 88%;
    width: 100%;
    background-color: #F5F6FA;
    overflow: scroll;
}

#animal-groups-levelKey-container {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.animal-groups-levelKey {
    height: 65%;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 5px #CCCCCC;
    border-radius: 10px;
    margin: 0 3%;
    background-color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.animal-groups-levelKey:hover {
    transform: translateY(-3%);
    box-shadow: 0px 2px 7px #898989;
    color: black;
}

.animal-groups-level {
    font-size: 110%;
    color: #686E79;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30%;
    width: 90%;
    padding-left: 5%;
}

.animal-groups-levelKey>p {
    font-size: 100%;
    padding-left: 5%;
    color: #AAAAAA;
    height: 30%;
    width: 90%;
    margin: 0;
}

.animal-groups-acl {
    font-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #BBBBBB;
    height: 30%;
    width: 90%;
    padding-left: 5%;
}

.animal-groups-acl>.mat-icon {
    color: rgba(104, 110, 121, 1);
    font-size: 130%;
}

.mat-checkbox {
    border-radius: 25%;
}

#animal-groups-controls-container {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mat-accordion {
    width: 90%;
}

.mat-expansion-panel {
    width: 100%;
}

.mat-expansion-panel-header-title {
    color: #686E79;
}

.mat-table {
    width: 100%;
    box-shadow: none;
    text-align: center;
}

.mat-column {
    width: 20%;
    text-align: center;
}

.mat-column-Assigned-Level {
    width: 20%;
    text-align: center;
}

.animal-groups-table-columns {
    width: 10%;
    text-align: center;
}

.animal-cell {
    color: #1D1D1D;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.animal-cell:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

:host ::ng-deep .mat-cell>span.allowed {
    color: #01B200;
}

:host ::ng-deep .mat-cell>span.notAllowed {
    color: red;
}