<div id="identifications-view-workspace-container">
    <app-track-identifications-toolbar [trackIds]="trackIdentifications" (tracksOnChange)="updateTrackList($event)"></app-track-identifications-toolbar>
    <div id="identifications-view-workspace">
        <mat-drawer-container id="identifications-search-sidenav-container">
            <mat-drawer id="identifications-search-sidenav" #sidenav mode="side" opened="true" (opened)="showCloseBtn()" (closed)="showOpenBtn()">
                <app-track-identifications-sidenav [trackDateTimes]="timeAsString" [trackIds]="trackIdentifications" (tracksOnChange)="updateTrackList($event)" [searchText]="searchText" (searchTextOnChange)="updateSearchText($event)"></app-track-identifications-sidenav>
            </mat-drawer>
            <mat-drawer-content id="identifications-search-sidenav-content">
                <div id="sidenav-close-btn-container" (click)="closeSidenav()">
                    <button id="side-nav-close-btn" mat-icon-button><mat-icon>chevron_left</mat-icon></button>
                </div>
                <div id="sidenav-open-btn-container" (click)="openSidenav()">
                    <button id="side-nav-open-btn" mat-icon-button><mat-icon>chevron_right</mat-icon></button>
                </div>
				<div id="identifications-map-container">
					<div id="loader-container">
						<mat-spinner id="loader"></mat-spinner>
					</div>
					<div id="identifications-google-map-container">
					</div>
				</div>
		</mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>