<div id="identifications-view-workspace-container" class="normalView">
    <app-track-identifications-toolbar #trackIdentificationsToolbar [trackIds]="trackIdentifications"></app-track-identifications-toolbar>
    <div id="identifications-view-workspace">
        <mat-drawer-container id="identifications-search-sidenav-container">
            <mat-drawer id="identifications-search-sidenav" #sidenav mode="side" opened="true" (opened)="showCloseBtn()" (closed)="showOpenBtn()">
                <div id="search-nav-loader-container" class="loader-container">
                    <mat-spinner id="loader"></mat-spinner>
                </div>
                <app-track-identifications-sidenav #trackIdentificationsSidenav
                    (trackPageOnChange)="iterateDisplayedTracks($event)"></app-track-identifications-sidenav>
            </mat-drawer>
            <mat-drawer-content id="identifications-search-sidenav-content">
                <div id="sidenav-close-btn-container" (click)="closeSidenav()">
                    <button id="side-nav-close-btn" mat-icon-button><mat-icon>chevron_left</mat-icon></button>
                </div>
                <div id="sidenav-open-btn-container" (click)="openSidenav()">
                    <button id="side-nav-open-btn" mat-icon-button><mat-icon>chevron_right</mat-icon></button>
                </div>
                <div id="identifications-map-container">
                    <div class="empty-display-message-container" [hidden]="trackIdentifications == null">
                        <div class="empty-display-message">
                            <p class="fontM">There is no data to display.</p>
                        </div>
                    </div>
                    <div id="fullscreen-btn-container" (click)="toggleFullScreen()">
                        <button id="fullscreen-btn" mat-icon-button><mat-icon>fullscreen</mat-icon></button>
                    </div>
                    <div id="heatmap-btn-container" (click)="toggleHeatmapTab()" [hidden]="!showHeatmapSettingsBtn">
                        <button mat-stroked-button><mat-icon>blur_on</mat-icon><p>Heatmap Settings<p></button>
                    </div>
                    <div id="loader-container">
                        <mat-spinner id="loader"></mat-spinner>
                    </div>
                    <div id="identifications-google-map-container">
                    </div>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>