<div id="loginView-Container">
	<div id="loginView-loginForm-Container">
		<form [formGroup]="loginForm" id="loginFormComp-loginForm-Container" (ngSubmit)="onSubmit()">
            <div id="loginFormComp-loginForm-TitleContainer">
                <h2 class="fontR">Sign In</h2>
                <p class="fontR">Please enter your details in the form below</p>
            </div>
            <div id="loginFormComp-loginForm-FormContainer">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" placeholder="Please enter your username.">
                    <mat-icon matPrefix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" placeholder="Please enter your password." [type]="hide ? 'password' : 'text'">
                    <mat-icon matPrefix>https</mat-icon>
                    <button type="plain" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div id="loginFormComp-loginForm-loginOptionsContainer">
                <div id="loginFormComp-loginForm-loginOptions">
                    <a href="javascript:void(0)" class="fontR">Forgot password?</a>
                    <a href="javascript:void(0)" class="fontR">Remember me</a>
                </div>
                <button mat-flat-button id="loginFormComp-loginForm-loginBtn" class="fontSB">SIGN IN</button>
            </div>
        </form>
	</div>
	<div id="loginView-onboardingMessages-Container">
		<div id="loginView-onboardingMessages">
			<h1 class="fontSB">Welcome Back <br> Administrator!</h1>
		</div>
		<div id="dashboard-version">
			<p class="fontB">V 1.0</p>
		</div>
	</div>
</div>
