#ranger-search-sidenav {
    height: 90%;
    width: 100%;
}

#ranger-search-results-container {
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #CCCCCC;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}

.ranger-search-results-entries {
    height: auto;
    width: 100%;
}

.ranger-search-result-entry {
    height: auto;
    width: 100%;
}

:host ::ng-deep .mat-list-base .mat-subheader:first-child {
    margin: 0;
}

.mat-list-base .mat-subheader {
    height: 20%;
    margin-top: 5%;
}

.ranger-search-resultgroup-subheader {
    font-size: 100%;
    height: 10%;
    width: 100%;
    padding: 0.2em 1em;
}

.mat-list-option {
    font-size: 100%;
}

:host ::ng-deep .mat-list-text {
    padding-left: 10% !important;
    padding-right: 0 !important;
}

.ranger-search-resultgroup-subentry {
    color: #AAAAAA;
}