<div id="ranger-search-sidenav">
    <div id="ranger-search-results-container">
        <mat-selection-list id="rangers-by-surnames" [multiple]="false" class="ranger-search-results-entries">
            <div class="ranger-search-result-entry" *ngFor="let ranger of rangers | filter:searchText">
                <ng-container *ngIf="checkResult('bySurname')">
                    <div mat-subheader class="ranger-search-resultgroup-subheader" *ngIf="checkIfNew(ranger.lastName)">{{ ranger.lastName.charAt(0).toUpperCase() }}</div>
                </ng-container>
                <ng-container *ngIf="checkResult('byLevel')">
                    <div mat-subheader class="ranger-search-resultgroup-subheader" *ngIf="checkIfNew(ranger.accessLevel)">Level {{ ranger.accessLevel }} Ranger</div>
                </ng-container>
                <mat-list-option class="fontM" [value]="ranger" (click)="viewRangerProfile(ranger.rangerID)">
                    <p class="ranger-search-resultgroup-mainentry">{{ranger.firstName}}&nbsp;{{ranger.lastName}}</p>
                    <p class="ranger-search-resultgroup-subentry">Level {{ranger.accessLevel}} Ranger</p>
                </mat-list-option>
            </div>
        </mat-selection-list>
    </div>
</div>