<div id="overview-workspace-container">
    <div id="loader-container">
        <mat-spinner id="loader"></mat-spinner>
    </div>
    <div id="overview-toolbar-container">
        <div id="overview-toolbar-navigationtree-container">
            <div id="overview-toolbar-navigation">
                <a class="fontM">Overview</a>
            </div>
        </div>
    </div>
    <div id="overview-view-workspace">
        <div id="overview-info-container">
            <mat-tab-group mat-align-tabs="center" dynamicHeight>
                <mat-tab label="Ranger Stats">
                    <div class="overview-card-header">
                        <div id="overview-identifications-container">
                            <div id="overview-spoor-feed-container">
                                <div id="overview-spoor-feed-title">
                                    <h2 class="fontSB">Recent Logins</h2>
                                </div>
                                <div class="overview-spoor-container">
                                    <div class="overview-spoor-info-container">
                                        <mat-card class="logins-card" *ngFor="let element of logins">
                                            <mat-card-title class="fontSB">{{element.rangerID.firstName}} {{element.rangerID.lastName}}</mat-card-title>
                                            <mat-card-subtitle class="fontM">Level {{element.rangerID.accessLevel}} Ranger</mat-card-subtitle>
                                            <mat-card-content>
                                                <p style="margin: 0;">{{element.platform}}</p>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                            <div id="additional-container">
                                <div id="overview-most-identifications-feed-container">
                                    <div id="overview-most-identifications-title">
                                        <h2 class="fontSB">Most Identifications</h2>
                                    </div>
                                    <div id="overview-most-identifications-container">
                                        <div class="overview-most-identifications-container">
                                            <div class="overview-most-identifications-info-container">
                                                <div class="overview-most-identifications-details-container">
                                                    <div class="overview-most-identifications-info">
                                                        <div class="overview-most-identifications-type">
                                                            <p class="fontSB">Obakeng Seageng</p>
                                                        </div>
                                                        <div class="overview-most-identifications-summary">
                                                            <p style="width: 40%; text-align: center;" class="fontM">Number of Animals</p>
                                                            <mat-icon style="width: 20%; text-align: center;">arrow_right_alt</mat-icon>
                                                            <p style="width: 40%; text-align: center;" class="fontM">79</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="overview-latest-feed-container">
                                    <div id="overview-latest-feed-title">
                                        <h2 class="fontSB">Latest Identification</h2>
                                    </div>
                                    <div id="overview-latest-container">
                                        <div class="overview-latest-container">
                                            <div class="overview-latest-info-container">
                                                <div class="overview-latest-details-container">
                                                    <div class="overview-latest-info">
                                                        <div class="overview-latest-type">
                                                            <p class="fontSB">Zachary Christophers</p>
                                                        </div>
                                                        <div class="overview-latest-summary">
                                                            <p style="width: 40%; text-align: center;" class="fontM">Black Rhinoceros</p>
                                                            <mat-icon style="width: 20%; text-align: center;">arrow_right_alt</mat-icon>
                                                            <p style="width: 40%; text-align: center;" class="fontM">2020-09-16</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="overview-activity-feed-container">
                                    <div id="overview-activity-feed-title">
                                        <h2 class="fontSB">Favourite Tag</h2>
                                    </div>
                                    <div id="overview-activity-container">
                                        <div class="overview-activity-container">
                                            <div class="overview-activity-info-container">
                                                <div class="overview-activity-details-container">
                                                    <div class="overview-activity-info">
                                                        <div class="overview-activity-type">
                                                            <p class="fontSB">Endangered</p>
                                                        </div>
                                                        <div class="overview-activity-summary">
                                                            <p style="width: 40%; text-align: center;" class="fontM">Number of Uses</p>
                                                            <mat-icon style="width: 20%; text-align: center;">arrow_right_alt</mat-icon>
                                                            <p style="width: 40%; text-align: center;" class="fontM">51</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Animal Stats">
                    <div class="overview-card-header">
                        <div id="overview-identifications-container">
                            <div id="overview-spoor-feed-container">
                                <div id="overview-spoor-feed-title">
                                    <h2 class="fontSB">Recent Logins</h2>
                                </div>
                                <div class="overview-spoor-container">
                                    <div class="overview-spoor-info-container">
                                        <mat-card class="logins-card" *ngFor="let element of logins">
                                            <mat-card-title class="fontSB">{{element.rangerID.firstName}} {{element.rangerID.lastName}}</mat-card-title>
                                            <mat-card-subtitle class="fontM">Level {{element.rangerID.accessLevel}} Ranger</mat-card-subtitle>
                                            <mat-card-content>
                                                <p style="margin: 0;">{{element.platform}}</p>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                            <div id="additional-container">
                                <div id="overview-most-identifications-feed-container">
                                    <div id="overview-most-identifications-title">
                                        <h2 class="fontSB">Most Identifications</h2>
                                    </div>
                                    <div id="overview-most-identifications-container">
                                        <div class="overview-most-identifications-container">
                                            <div class="overview-most-identifications-info-container">
                                                <div class="overview-most-identifications-details-container">
                                                    <div class="overview-most-identifications-info">
                                                        <div class="overview-most-identifications-type">
                                                            <p class="fontSB">Obakeng Seageng</p>
                                                        </div>
                                                        <div class="overview-most-identifications-summary">
                                                            <p style="width: 40%; text-align: center;" class="fontM">Number of Animals</p>
                                                            <mat-icon style="width: 20%; text-align: center;">arrow_right_alt</mat-icon>
                                                            <p style="width: 40%; text-align: center;" class="fontM">79</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="overview-latest-feed-container">
                                    <div id="overview-latest-feed-title">
                                        <h2 class="fontSB">Latest Identification</h2>
                                    </div>
                                    <div id="overview-latest-container">
                                        <div class="overview-latest-container">
                                            <div class="overview-latest-info-container">
                                                <div class="overview-latest-details-container">
                                                    <div class="overview-latest-info">
                                                        <div class="overview-latest-type">
                                                            <p class="fontSB">Zachary Christophers</p>
                                                        </div>
                                                        <div class="overview-latest-summary">
                                                            <p style="width: 40%; text-align: center;" class="fontM">Black Rhinoceros</p>
                                                            <mat-icon style="width: 20%; text-align: center;">arrow_right_alt</mat-icon>
                                                            <p style="width: 40%; text-align: center;" class="fontM">2020-09-16</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="overview-activity-feed-container">
                                    <div id="overview-activity-feed-title">
                                        <h2 class="fontSB">Favourite Tag</h2>
                                    </div>
                                    <div id="overview-activity-container">
                                        <div class="overview-activity-container">
                                            <div class="overview-activity-info-container">
                                                <div class="overview-activity-details-container">
                                                    <div class="overview-activity-info">
                                                        <div class="overview-activity-type">
                                                            <p class="fontSB">Endangered</p>
                                                        </div>
                                                        <div class="overview-activity-summary">
                                                            <p style="width: 40%; text-align: center;" class="fontM">Number of Uses</p>
                                                            <mat-icon style="width: 20%; text-align: center;">arrow_right_alt</mat-icon>
                                                            <p style="width: 40%; text-align: center;" class="fontM">51</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>