**/do_NOT_git

!test.jpg
Server/backend-graphQL/301 03/.vscode/settings.json
Server/backend-graphQL/301 03/saved_model*
Server/backend-graphQL/301 03/log.txt
Server/backend-graphQL/301 03/traningLog.txt

Server/backend-graphQL/301 03/saved_model/*

**/node_modules

Server/backend-graphQL/301 03/traningLog.txt

**/Training Data 350/
**/Training Data/

Server/backend-graphQL/301 03/images/*
Server/backend-graphQL/301 03/coverage/*
Server/backend-graphQL/301 03/elVgnnn9HLmtEQ7oEAYJ.jpeg
