#animal-photos-workspace-container {
    height: 88vh;
    width: 85vw;
    background-color: #F5F6FA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

#animals-toolbar-container {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #CCCCCC;
    background-image: linear-gradient(135deg, #5084d3, #315dbf);
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.2em 0.5em 0.5em;
    height: 45px;
    align-items: center;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

#animals-toolbar-navigationtree-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
}

#animals-toolbar-navigation {
    height: 100%;
    color: white !important;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#animals-toolbar-navigation>a {
    color: white;
    font-size: 130%;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#animals-toolbar-navigation>a:hover {
    color: #1A1A1A;
    cursor: pointer;
}

#animals-toolbar-navigation>a.activeView {
    color: white;
}

#animals-toolbar {
    height: 100%;
    width: 40%;
    font-size: 120%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#animals-toolbar-actions-btn {
    background: rgba(104, 110, 121, 1);
    width: 30%;
    border: 1px solid #CCCCCC;
    background-color: white !important;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    margin-right: 5%;
}

:host ::ng-deep #animals-toolbar-sortby-btn .mat-select-value-text,
 :host ::ng-deep #animals-toolbar-sortby-btn .mat-select-placeholder {
    color: #1C1C1C !important;
}

:host ::ng-deep #animals-toolbar-actions-btn .mat-select-value-text,
 :host ::ng-deep #animals-toolbar-actions-btn .mat-select-placeholder {
    color: black !important;
}

:host ::ng-deep .mat-form-field-outline {
    background-color: #ffffff;
    border: #5084d3 solid 1px;
    border-radius: 5px;
}

#animal-photos-view-workspace {
    height: 88%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
}

#animal-photos-title-container {
    height: 100px;
    min-height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#animal-photos-title-container>p {
    color: #686E79;
    font-size: 150%;
}

.mat-tab-group {
    height: 100%;
    width: 100%;
    margin-top: 1%;
    background-color: #F5F6FA;
}

:host ::ng-deep .mat-tab-header {
    background-color: white;
}

.mat-grid-list {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 5%;
}

.mat-grid-tile {
    height: 150px;
    background-color: #CCC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.mat-grid-tile:hover {
    background-color: #BBB;
    cursor: pointer;
}

.animal-photo {
    height: 100%;
    width: auto;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.animal-photo:hover {
    filter: brightness(70%);
    transform: scale(1.1, 1.1);
}

#animal-photos-feed-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*
:host ::ng-deep .mat-tab-labels
{
	background-color: white;
	border-bottom: 3px solid #CCC;
}
:host ::ng-deep .mat-tab-body-wrapper
{
	height: 100%;
	width: 100%;
}
:host ::ng-deep .mat-tab-body-content
{
	background-color: #F5F6FA;
}*/