@keyframes fadePop {
    from {
        opacity: 0.1;
        transform: translateY(10%);
    }
    to {
        opacity: 1.0;
        transform: translateY(0%);
    }
}
#overview-workspace-container {
    height: 88vh;
    width: 85vw;
    background-color: #F5F6FA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
#statistics-view-navigation-container{
	background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	border-bottom: 1px solid #CCC;
}
#overview-workspace {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}
.mat-tab-group {
    height: 100%;
    width: 100%;
    background-color: #F5F6FA;
}

:host ::ng-deep #ranger-statistics-view-tabgroup .mat-tab-header {
	display: none;
}
#ranger-search-sidenav-container{
	height: 100%;
	width: 100%;
}
#ranger-search-sidenav {
    height: 100%;
    width: 200px;
    border-right: 2px solid #CCCCCC;
}
#ranger-statistics-navigation-container {
	height: 90%;
	width: 100%;
}
#ranger-statistics-navigation-container .mat-list-option {
	color: rgba(0, 0, 0, 0.35);
}
#ranger-statistics-navigation-container .mat-list-option.activeStatsNavRoute {
	color: rgba(0, 0, 0, 0.65);
}
#sidenav-close-btn-container {
    height: 10%;
    width: 100%;
    background-image: linear-gradient(-135deg, #509CD0, #214E7D);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#sidenav-open-btn-container {
    position: absolute;
    bottom: 3%;
    left: 0%;
    height: 6%;
    width: 40px;
    background-color: #a41238;
    border: 1px solid #808080;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 0px 5px #BBBBBB;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    z-index: 2;
}

#sidenav-open-btn-container:hover,
#sidenav-close-btn-container:hover {
    cursor: pointer;
}

#side-nav-open-btn,
#side-nav-close-btn {
    background-color: white;
    height: 22px;
    width: 22px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

#side-nav-close-btn {
    height: 25px;
    width: 25px;
    border: 1px solid #CCCCCC;
}
.ranger-statistics-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 80vh;
	padding: 3% 3%;
	overflow-y: auto;
	width: 100%;
}
#ranger-login-statistics-container, #ranger-tracking-statistics-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: auto;
	width: 100%;
}
.statistics-header-container {
	height: 5em;
	width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.statistics-header-container > h1 {
    color: rgba(0, 0, 0, .75);
    font-size: 130%;
    padding: 0;
    margin: 0;
}
.statistics-content-main-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 90%;
	width: 100%;
}
.statistics-content-row-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#ranger-loginby-statistics-content-row1, #ranger-identifications-statistics-content-row1 {
	height: 350px;
}
#ranger-loginby-statistics-content-row2, #ranger-identifications-statistics-content-row2 {
	height: 750px;
}
#identifications-byRangerStats-content-row1 {
	height: auto;
}
#ranger-loginby-statistics-content-row3 {
	height: 550px;
}
#ranger-identificationsby-statistics-content-row1 {
	height: 350px;
}
#ranger-identificationsby-statistics-content-row2 {
	height: 750px;
}
#ranger-identificationsby-statistics-content-row3 {
	height: 350px;
}
#ranger-identificationsby-statistics-content-container1 {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.statistics-content-container {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 3px 8px #DDD;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 85%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    animation: fadePop 0.7s ease-out 0s 1 normal none;
	padding: 0 2%;
}
.statistics-content-container-title, .statistics-byRanger-content-title {
	border-bottom: 1px solid #CCC;
    height: 4em;
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    align-items: center;
    width: 100%;
}
.statistics-content-container-title > p, .statistics-byRanger-content-title > p {
    color: rgba(0, 0, 0, .35);
    font-size: 110%;
    padding: 0;
	margin: 0;
}
.statistics-content-title-toolbar-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 30%;
}
.statistics-content-title-toolbar-toggleGroupContainer {
	height: 70%;
}
.statistics-content-title-toolbar-toggleGroup {
	height: 100%;
}
:host ::ng-deep .statistics-content-title-toolbar-toggleGroup .mat-button-toggle-button {
	height: 100%;
}
:host ::ng-deep .statistics-content-title-toolbar-toggleGroup .mat-button-toggle-label-content {
	height: 100%;
	line-height: 36px;
}
.statistics-datepicker {
	width: 1px;
	visibility: hidden;
}
:host ::ng-deep #loginsByDatePicker .mat-form-field-wrapper {
	margin: 0;
}
.statistics-content-container-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: auto;
	min-height: 85%;
	width: 100%;
}
.statistics-card-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 90%;
	width: 100%;
}
:host ::ng-deep ngx-charts-number-card .cell .trimmed-label {
	width: 100%;
}
#ranger-loginbyapp-stats-container {
	width: 40%;
}
#ranger-loginbylevel-stats-container {
	width: 55%;
}
#ranger-identifications-byDate-stats {
	width: 100%;
}
#identifications-byRangerAndDate-stats {
	width: 100%;
	background-color: transparent;
	border-radius: 0;
	box-shadow: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: auto;
	padding: 0;
	margin-top: 15px;
}
#identifications-byRangerAndDate-stats .statistics-content-container-content {
	display: block;
}
#identifications-byRangerAndDate-stats .statistics-content-container-title {
	padding-left: 2%;
}
#ranger-identifications-alltime-stats, #ranger-accuracyscore-alltime-stats {
	width: 25%;
}
#ranger-identifications-alltime-stats .statistics-content-container-content , #ranger-accuracyscore-alltime-stats .statistics-content-container-content  {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#ranger-identifications-alltime-stats > .statistics-content-container-title > p, #ranger-accuracyscore-alltime-stats > .statistics-content-container-title > p{
	font-size: 100%;
}
#ranger-identificationsByLevel-alltime-stats {
	width: 45%;
}
:host ::ng-deep .advanced-pie-legend {
	height: 150px;
}
:host ::ng-deep .total-label {
	margin: 0.7em 0;
}
:host ::ng-deep .advanced-pie-legend .legend-items-container {
	height: 65%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: none;
}
:host ::ng-deep .advanced-pie-legend .legend-items-container .legend-items {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#identifications-byRangerAndDate-stats-grid {
	height: 100%;
	width: 100%;
}
.statistics-byRanger-cell {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.statistics-byRanger-content-container {
	background-color: white;
	border-radius: 12px;
	box-shadow: 0px 3px 8px #DDD;
	height: 85%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    animation: fadePop 0.7s ease-out 0s 1 normal none;
	padding: 0 2%;
}
.statistics-byRanger-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: auto;
	min-height: 85%;
	width: 100%;
}
#ranger-loginbyranger-stats-container, #ranger-loginbydate-stats-container {
	width: 100%;
}
#logins-by-ranger-table-container, #logins-by-date-graph-container  {
	height: 100%;
	width: 100%;
}
.by-date-graph-container {
	height: 85%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#logins-by-ranger-table {
	height: 90%;
	width: 100%;
}
.ranger-cell {
    color: #1D1D1D;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.ranger-cell:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
#logins-by-ranger-paginator {
	border-radius: 15px;
	height: 10%;
	width: 100%;
}
.statistics-content-container-four {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50%;
	width: 100%;
}
.statistics-content-container-four > .statistics-content-container-one {
	width: 30%;
}

/*
:host ::ng-deep .mat-tab-labels
{
	background-color: white;
	border-bottom: 3px solid #CCC;
}
:host ::ng-deep .mat-tab-body-wrapper
{
	height: 100%;
	width: 100%;
}
:host ::ng-deep .mat-tab-body-content
{
	background-color: #F5F6FA;
}*/