<div id="overview-workspace-container">
	<div id="statistics-view-navigation-container">
		<nav id="statistics-view-navigation" mat-tab-nav-bar>
			<a mat-tab-link (click)='route("overview")'>Overview</a>
			<a mat-tab-link [active]="'ranger-statistics'">Ranger Statistics</a>
			<a mat-tab-link (click)='route("overview/animal-statistics")'>Animal Statistics</a>
		</nav>
	</div>
    <div id="overview-workspace">
		<mat-drawer-container  id="ranger-search-sidenav-container">
            <mat-drawer id="ranger-search-sidenav" #statisticsSidenav mode="over" (closedStart)="showSidenavBtn()">
				<div id="ranger-statistics-navigation-container">
					<mat-selection-list #rangerStatsNavSelectList [multiple]="false">
						<mat-list-option (click)="changeRangerStatsTab(0)" [selected]="activeRangerStatsTabIndex == 0">Login Activity</mat-list-option>
						<mat-list-option (click)="changeRangerStatsTab(1)" [selected]="activeRangerStatsTabIndex == 1">Tracking Activity</mat-list-option>
					</mat-selection-list>
				</div>
                <div id="sidenav-close-btn-container" (click)="closeSidenav()">
                    <button id="side-nav-close-btn" mat-icon-button><mat-icon>chevron_left</mat-icon></button>
                </div>
            </mat-drawer>
            <mat-drawer-content id="ranger-search-sidenav-content">
				<div id="loader-container">
					<mat-spinner id="loader"></mat-spinner>
				</div>
                <div id="sidenav-open-btn-container" (click)="openSidenav()">
                    <button id="side-nav-open-btn" mat-icon-button><mat-icon>chevron_right</mat-icon></button>
                </div>
				<mat-tab-group id="ranger-statistics-view-tabgroup" #rangerStatsTab animationDuration="0ms" dynamicHeight> 
					<mat-tab label="Login Activity">
							<div id="ranger-statistics-container">
								<div id="ranger-login-statistics-container">
									<div class="statistics-header-container">
										<h1>Ranger Login Activity</h1>
									</div>
									<div class="statistics-content-main-container">
										<div id="ranger-loginby-statistics-content-row1" class="statistics-content-row-container">
											<div id="ranger-loginbyapp-stats-container" class="statistics-content-container-two">
												<div class="statistics-content-container-title">
													<p class="fontSB">Logins By Application - All Time</p>
												</div>
												<div class="statistics-content-container-content">
													<ngx-charts-pie-grid [scheme]="loginsPerAppColorScheme" [results]="loginsPerApp"></ngx-charts-pie-grid>
												</div>
											</div>
											<div id="ranger-loginbylevel-stats-container" class="statistics-content-container-two">
												<div class="statistics-content-container-title">
													<p class="fontSB">Logins By Ranger Level - All Time</p>
												</div>
												<div class="statistics-content-container-content">
													<ngx-charts-advanced-pie-chart [scheme]="loginsPerLevelColorScheme" [results]="loginsPerLevel">
														</ngx-charts-advanced-pie-chart>	
												</div>													
											</div>
										</div>
										<div  id="ranger-loginby-statistics-content-row2" class="statistics-content-row-container">
											<div id="ranger-loginbydate-stats-container" class="statistics-content-container-two">
												<div class="statistics-content-container-title">
													<p class="fontSB">Logins By Date - {{loginsByDateStart.toDateString()}} to {{loginsByDateEnd.toDateString()}}</p>
													<div class="statistics-content-title-toolbar-container">
														<mat-form-field id="loginsByDatePicker" appearance="fill">
															<mat-date-range-input [formGroup]="loginsByDateRangeForm" [rangePicker]="loginsByDatePicker">
																<input matStartDate formControlName="loginsByDateStartControl">
																<input matEndDate formControlName="loginsByDateEndControl">
															</mat-date-range-input>
															<mat-date-range-picker #loginsByDatePicker></mat-date-range-picker>
														</mat-form-field>
														<button mat-icon-button (click)="loginsByDatePicker.open()" aria-label="Select Date Range">
															<mat-icon>date_range</mat-icon>
														</button>
														<div class="statistics-content-title-toolbar-toggleGroupContainer">
															<mat-button-toggle-group #loginsByDateToggleGroup class="statistics-content-title-toolbar-toggleGroup" (change)="changeLoginsByDateFilter($event.value)" value="platform">
															  <mat-button-toggle value="level">Level</mat-button-toggle>
															  <mat-button-toggle value="platform">Platform</mat-button-toggle>
															</mat-button-toggle-group>
														</div>
													</div>
												</div>
												<div class="statistics-content-container-content">
													<div id="logins-by-date-graph-container">
														<ngx-charts-area-chart-stacked [animations]="true" [scheme]="loginsPerDateColorScheme" [legend]="true" 
															[showXAxisLabel]="true"
															[showYAxisLabel]="true"
															[autoScale]="true"
															[xAxis]="true"
															[yAxis]="true"
															[xAxisLabel]="'Login Date'" [yAxisLabel]="'Number of logins'"
															[timeline]="true" [results]="loginsPerDate">
														</ngx-charts-area-chart-stacked>
													</div>
												</div>
											</div>
										</div>
										<div  id="ranger-loginby-statistics-content-row3" class="statistics-content-row-container">
											<div id="ranger-loginbyranger-stats-container" class="statistics-content-container-two">
												<div class="statistics-content-container-title">
													<p class="fontSB">Logins By Ranger</p>
												</div>
												<div class="statistics-content-container-content">
													<div id="logins-by-ranger-table-container">
														<table id="logins-by-ranger-table" mat-table matSort matSortActive="date" matSortDirection="desc" [dataSource]="recentLoginsDataSource">
															<ng-container matColumnDef="lastName">
																<th mat-header-cell *matHeaderCellDef mat-sort-header>Ranger</th>
																<td mat-cell class="ranger-cell" *matCellDef="let element" (click)="viewRangerProfile(element.rangerID.rangerID)">{{element.rangerID.firstName}} {{element.rangerID.lastName}}</td>
															</ng-container>
															<ng-container matColumnDef="level">
																<th mat-header-cell *matHeaderCellDef mat-sort-header>Ranger Level</th>
																<td mat-cell *matCellDef="let element"> {{element.rangerID.accessLevel}} </td>
															</ng-container>
															<ng-container matColumnDef="date">
																<th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
																<td mat-cell *matCellDef="let element">{{element.dateObj | date:'h:mm a'}}, {{element.dateObj | date:'fullDate'}}</td>
															</ng-container>
															<ng-container matColumnDef="platform">
																<th mat-header-cell *matHeaderCellDef mat-sort-header>Platform</th>
																<td mat-cell *matCellDef="let element">
																	<ng-container *ngIf="element.platform == 'app'">
																		Mobile Tracking Application
																	</ng-container>
																	<ng-container *ngIf="element.platform == 'Mobile Application'">
																		Mobile Tracking Application
																	</ng-container>
																	<ng-container *ngIf="element.platform == 'wdb'">
																		Web Dashboard Application
																	</ng-container>
																</td>
															</ng-container>
															<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
															<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
														</table>
														<mat-paginator id="logins-by-ranger-paginator" [hidePageSize]="true" [pageSize]="5" [showFirstLastButtons]="true"></mat-paginator>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					</mat-tab>
					<mat-tab label="Tracking Activity">
							<p>Tracking tab</p>
					</mat-tab>
				</mat-tab-group>
            </mat-drawer-content>
        </mat-drawer-container>
	</div>
</div>