<mat-drawer-container id="animal-search-sidenav-container">
    <mat-drawer id="animal-search-sidenav" #sidenav mode="side" position="end" (openedStart)="fillWidth()" (closedStart)="fillHeight()">
		<div id="search-nav-loader-container" class="loader-container">
			<mat-spinner id="loader"></mat-spinner>
		</div>
		<div id="animal-photos-track-info-container" *ngIf="data.photoType == 'Animal'">
			<div id="animal-photos-track-info-title">
				<button mat-icon-button aria-label="Close Track Info Button" (click)="toggleSidenav()">
					<mat-icon>close</mat-icon>
				</button>
				<div>
					<p id="animal-photos-track-title-animal" class="fontSB">Photo of {{data.entity.commonName}}</p>
					<!--<p id="animal-photos-track-title-capturedby" class="fontM">Uploaded by Patricia Berlein</p>-->
				</div>
			</div>
			<div id="animal-photos-description-container">
				<div id="animal-photos-description-container-title">
					<p class="fontSB">Photo Description</p>
				</div>
				<div id="animal-photo-descr">
					<ng-container *ngIf="data.entity.pictures[currentPhotoIndex].description; else defaultDescription">
						<p class="fontM">{{data.entity.pictures[currentPhotoIndex].description}}</p>
					</ng-container>
					<ng-template #defaultDescription>
						<p class="fontM">No description has been provided for this photo.</p>
					</ng-template>
				</div>
			</div>
		</div>
		<div id="animal-track-photo-info-sidenav">
			<app-animal-track-info *ngIf="data.photoType == 'Track'" [activeTrack]="activeTrack" (viewingTrackOnChange)="closeSideNav($event)"></app-animal-track-info>
		</div>
	</mat-drawer>
    <mat-drawer-content id="animal-search-sidenav-content">
		<div id="loader-container">
			<mat-spinner id="loader"></mat-spinner>
		</div>
		<div id="animal-photo-details-container">
			<div id="animal-photo-details-toolbar">
				<button mat-icon-button aria-label="Back Button" (click)="closeDialog()">
					<mat-icon>close</mat-icon>
				</button>
				<div>
					<ng-container *ngIf="data.photoType != 'Single Track'" >
						<button mat-icon-button aria-label="Track Info Button" (click)="toggleSidenav()">
							<mat-icon>info</mat-icon>
						</button>
					</ng-container>
					<button mat-icon-button [matMenuTriggerFor]="menu" class="animal-profile-card-contextMenu">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu" xPosition="before">
						<ng-container *ngIf="data.photoType == 'Animal'" >
							<button mat-menu-item (click)="setAsMainPhoto(currentPhotoIndex)">
								<span>Set As Main Photo</span>
							</button>
						</ng-container>
						<ng-container *ngIf="data.photoType != 'Animal';else viewAnimalInfoAlt">
							<button mat-menu-item (click)="viewAnimalProfile(data.entity[currentPhotoIndex].animal.classification)">
								<span>View Animal Information</span>
							</button>
						</ng-container>
						<ng-template #viewAnimalInfoAlt>
							<button mat-menu-item (click)="viewAnimalProfile(data.entity.classification)">
								<span>View Animal Information</span>
							</button>
						</ng-template>
						<ng-container *ngIf="data.photoType == 'Track'" >
							<button mat-menu-item (click)="viewOnTrackMap(data.entity[currentPhotoIndex].spoorIdentificationID)">
								<span>View On Track Map</span>
							</button>
						</ng-container>
					</mat-menu>
				</div>
			</div>
			<button id="animal-photo-navigation-btn-left" class="animal-photo-navigation-btn" *ngIf="data.photoType != 'Single Track'" (click)="prevPhoto()" mat-icon-button aria-label="Previous Image Button">
				<mat-icon>chevron_left</mat-icon>
			</button>	
			<button id="animal-photo-navigation-btn-right" class="animal-photo-navigation-btn" *ngIf="data.photoType != 'Single Track'" (click)="nextPhoto()" mat-icon-button aria-label="Previous Image Button">
				<mat-icon>chevron_right</mat-icon>
			</button>	
			<div id="animal-photo-image-container">
				<img id="animal-photo-detail-current-image" *ngIf="this.data.photoType == 'Animal'; else showTrackPhoto" src="{{data.entity.pictures[currentPhotoIndex].URL}}">
				<ng-template #showTrackPhoto>
					<img id="animal-photo-detail-current-image" src="{{data.entity[currentPhotoIndex].picture.URL}}">
				</ng-template>
			</div>
		</div>
	</mat-drawer-content>
</mat-drawer-container>