<h1 mat-dialog-title>Edit Animal Information - {{data.animal.commonName}} ({{data.animal.classification}})</h1>
<mat-dialog-content id="add-ranger-form-container">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Overview">
            <form [formGroup]="overviewForm" id="edit-animal-form-overview">
                <div id="overview-classification-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Group Name</mat-label>
                        <input matInput formControlName="groupName" value="{{data.animal.groupID[0].groupName}}">
                        <mat-hint>Optional</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Common Name</mat-label>
                        <input matInput formControlName="commonName" value="{{data.animal.commonName}}">
                        <mat-hint>Optional</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Classification</mat-label>
                        <input matInput formControlName="classification" value="{{data.animal.classification}}">
                        <mat-hint>Optional</mat-hint>
                    </mat-form-field>
                </div>
                <div id="overview-physical-char-group">
                    <div class="edit-animal-range-container">
                        <div mat-subheader class="edit-animal-range-title fontSB">Average Height Range</div>
                        <div class="edit-animal-ranges">
                            <mat-form-field appearance="outline">
                                <input type="number" step="0.1" matInput formControlName="heightF" value="{{data.animal.heightF}}">
                                <span matSuffix>m</span>
                                <mat-hint>Optional</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <input type="number" step="0.1" matInput formControlName="heightM" value="{{data.animal.heightM}}">
                                <span matSuffix>m</span>
                                <mat-hint>Optional</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="edit-animal-range-container">
                        <div mat-subheader class="edit-animal-range-title fontSB">Average Weight Range</div>
                        <div class="edit-animal-ranges">
                            <mat-form-field appearance="outline">
                                <input type="number" matInput formControlName="heightF" value="{{data.animal.heightF}}">
                                <span matSuffix>kg</span>
                                <mat-hint>Optional</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <input type="number" matInput formControlName="heightM" value="{{data.animal.heightM}}">
                                <span matSuffix>kg</span>
                                <mat-hint>Optional</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div id="overview-other-group">
                    <div class="edit-animal-range-container">
                        <div mat-subheader class="edit-animal-range-title fontSB">Gestation Period</div>
                        <div class="edit-animal-ranges">
                            <mat-form-field appearance="outline">
                                <mat-label>Duration</mat-label>
                                <input matInput formControlName="gestationPeriod" value="{{data.animal.gestationPeriod}}">
                                <mat-hint>Optional</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Offspring</mat-label>
                                <input type="number" matInput formControlName="gestationPeriod" value="6">
                                <mat-hint>Optional</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="edit-animal-range-container">
                        <div mat-subheader class="edit-animal-range-title fontSB">Diet Type</div>
                        <div class="edit-animal-ranges edit-animal-inputbtn-container">
                            <mat-button-toggle-group id="ranger-search-controls" #group="matButtonToggleGroup" value="{{data.animal.dietType}}">
                                <mat-button-toggle value="Herbivorous">Herbivorous</mat-button-toggle>
                                <mat-button-toggle value="Carnivorous">Carnivorous</mat-button-toggle>
                                <mat-button-toggle value="Omnivorous">Omnivorous</mat-button-toggle>
                                <mat-button-toggle value="Insectivorous">Insectivorous</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </div>
            </form>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button id="cancel-btn" class="fontSB" (click)="closeDialog()">CANCEL</button>
    <button type="submit" mat-button (click)="onSubmit(false)" id="add-ranger-btn" class="fontSB">SAVE CHANGES</button>
</mat-dialog-actions>