<div id="dialog-progressbar-container">
	<mat-progress-bar mode="indeterminate" id="dialog-progressbar"></mat-progress-bar>
</div>
<h1 mat-dialog-title>Edit Animal Information - {{data.animal.classification | titlecase}} ({{data.animal.commonName}})</h1>
<mat-dialog-content>
    <form [formGroup]="editAnimalForm" id="edit-animal-form">
		<mat-tab-group mat-align-tabs="start">
			<mat-tab label="Description">
				<div class="edit-animal-form-content">
					<mat-form-field class="add-animal-form-input" appearance="outline">
						<mat-label>Common Name</mat-label>
						<input matInput formControlName="commonName" value="{{data.animal.commonName}}">
						<mat-hint>Optional</mat-hint>
					</mat-form-field>
					<mat-form-field class="add-animal-form-input" appearance="outline">
						<mat-label>Classification</mat-label>
						<input matInput formControlName="classification" value="{{data.animal.classification}}">
						<mat-hint>Optional</mat-hint>
					</mat-form-field>
					<mat-form-field appearance="outline" class="edit-animal-form-texarea">
						<mat-label>Animal Description</mat-label>
						<textarea rows="5" matInput #animalDescrip formControlName="animalDescription" value="{{data.animal.animalDescription}}"></textarea>
						<mat-hint align="start">{{animalDescrip.value?.length || 0}}/1500 (Optional)</mat-hint>
					</mat-form-field>
				</div>
			</mat-tab>
			<mat-tab label="Biometrics">
				<div class="edit-animal-form-content">
					<div class="edit-animal-form-gender-container">
						<p class="edit-animal-form-gender-title fontSB">Female Biometrics</p>
						<div class="edit-animal-form-gender-content">
							<div class="edit-animal-range-container">
								<p class="edit-animal-range-title fontM">Average Height Range</p>
								<div class="edit-animal-ranges">
									<mat-form-field appearance="outline">
										<input type="number" step="0.1" matInput formControlName="heightF" value="{{data.animal.heightF}}">
										<span matSuffix>m</span>
										<mat-hint>Optional</mat-hint>
									</mat-form-field>
									<p>to</p>
									<mat-form-field appearance="outline">
										<input type="number" step="0.1" matInput formControlName="heightF" value="{{data.animal.heightF}}">
										<span matSuffix>m</span>
										<mat-hint>Optional</mat-hint>
									</mat-form-field>
								</div>
							</div>
							<div class="edit-animal-range-container">
								<p class="edit-animal-range-title fontM">Average Weight Range</p>
								<div class="edit-animal-ranges">
									<mat-form-field appearance="outline">
										<input type="number" matInput formControlName="weightF" value="{{data.animal.weightF}}">
										<span matSuffix>kg</span>
										<mat-hint>Optional</mat-hint>
									</mat-form-field>
									<p>to</p>
									<mat-form-field appearance="outline">
										<input type="number" matInput formControlName="weightF" value="{{data.animal.weightF}}">
										<span matSuffix>kg</span>
										<mat-hint>Optional</mat-hint>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
                    <mat-divider></mat-divider>
					<div class="edit-animal-form-gender-container">
						<p class="edit-animal-form-gender-title fontSB">Male Biometrics</p>
						<div class="edit-animal-form-gender-content">
							<div class="edit-animal-range-container">
								<p class="edit-animal-range-title fontM">Average Height Range</p>
								<div class="edit-animal-ranges">
									<mat-form-field appearance="outline">
										<input type="number" step="0.1" matInput formControlName="heightM" value="{{data.animal.heightM}}">
										<span matSuffix>m</span>
										<mat-hint>Optional</mat-hint>
									</mat-form-field>
									<p>to</p>
									<mat-form-field appearance="outline">
										<input type="number" step="0.1" matInput formControlName="heightM" value="{{data.animal.heightM}}">
										<span matSuffix>m</span>
										<mat-hint>Optional</mat-hint>
									</mat-form-field>
								</div>
							</div>
							<div class="edit-animal-range-container">
								<p class="edit-animal-range-title fontM">Average Weight Range</p>
								<div class="edit-animal-ranges">
									<mat-form-field appearance="outline">
										<input type="number" matInput formControlName="weightM" value="{{data.animal.weightM}}">
										<span matSuffix>kg</span>
										<mat-hint>Optional</mat-hint>
									</mat-form-field>
									<p>to</p>
									<mat-form-field appearance="outline">
										<input type="number" matInput formControlName="weightM" value="{{data.animal.weightM}}">
										<span matSuffix>kg</span>
										<mat-hint>Optional</mat-hint>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Characteristics">
				<div class="edit-animal-form-content">
					<mat-form-field class="add-animal-form-input" appearance="outline">
						<mat-label>Avg. Lifespan</mat-label>
						<input matInput class="add-animal-form-input" formControlName="lifeSpan" value="{{data.animal.lifeSpan}}">
						<mat-hint>Optional</mat-hint>
					</mat-form-field>
					<mat-form-field class="add-animal-form-input" appearance="outline">
						<mat-label>Diet Type</mat-label>
						<mat-select class="fontR" placeholder="Diet Type" disableOptionCentering value="{{data.animal.dietType}}">
							<mat-option *ngFor="let dietType of dietTypeList" [value]="dietType.displayValue">{{dietType.displayValue}}</mat-option>
						</mat-select>		
						<mat-hint>Optional</mat-hint>
					</mat-form-field>
					<div class="edit-animal-range-container">
						<p class="edit-animal-range-title fontM">Gestation Period & Avg. Litter Size</p>
						<div class="edit-animal-ranges">
							<mat-form-field class="add-animal-form-input" appearance="outline">
								<mat-label>Duration</mat-label>
								<input matInput formControlName="gestationPeriod" value="{{data.animal.gestationPeriod}}">
								<mat-hint>Optional</mat-hint>
							</mat-form-field>
							<mat-form-field appearance="outline">
								<mat-label>Offspring</mat-label>
								<input type="number" matInput formControlName="numOffspring">
								<mat-hint>Optional</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Behavioural Information">
				<div class="edit-animal-form-content">
					<div class="edit-animal-form-textarea-container">
						<p class="edit-animal-form-gender-title fontSB">Female Behavioural Information</p>
						<div class="edit-animal-form-textarea-content">
							<mat-form-field appearance="outline" class="edit-animal-form-texarea">
								<textarea rows="4" matInput #femaleBehaviour formControlName="femaleBehaviour"></textarea>
								<mat-hint align="start">{{femaleBehaviour.value?.length || 0}}/1500 (Optional)</mat-hint>
							</mat-form-field>
						</div>
					</div>
                    <mat-divider></mat-divider>
					<div class="edit-animal-form-textarea-container">
						<p class="edit-animal-form-gender-title fontSB">Male Behavioural Information</p>
						<div class="edit-animal-form-textarea-content">
							<mat-form-field appearance="outline" class="edit-animal-form-texarea">
								<textarea rows="4" matInput #maleBehaviour formControlName="maleBehaviour"></textarea>
								<mat-hint align="start">{{maleBehaviour.value?.length || 0}}/1500 (Optional)</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Habitat Information">
				<div class="edit-animal-form-content">
					<div class="edit-animal-form-textarea-container">
						<p class="edit-animal-form-gender-title fontSB">Habitat Description</p>
						<div class="edit-animal-form-textarea-content">
							<mat-form-field appearance="outline" class="edit-animal-form-texarea">
								<textarea rows="4" matInput #habitatDescrip formControlName="habitatDescrip"></textarea>
								<mat-hint align="start">{{habitatDescrip.value?.length || 0}}/1500 (Optional)</mat-hint>
							</mat-form-field>
						</div>
					</div>
                    <mat-divider></mat-divider>
					<div class="edit-animal-form-textarea-container">
						<p class="edit-animal-form-gender-title fontSB">Distinguishing Features</p>
						<div class="edit-animal-form-textarea-content">
							<mat-form-field appearance="outline" class="edit-animal-form-texarea">
								<textarea rows="4" matInput #habitatFeat formControlName="habitatFeatures"></textarea>
								<mat-hint align="start">{{habitatFeat.value?.length || 0}}/1500 (Optional)</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="Potential Threats">
				<div class="edit-animal-form-content">
					<div class="edit-animal-form-textarea-container">
						<p class="edit-animal-form-gender-title fontSB">Female Threat Behaviour</p>
						<div class="edit-animal-form-textarea-content">
							<mat-form-field appearance="outline" class="edit-animal-form-texarea">
								<textarea rows="4" matInput #femaleThreats formControlName="femaleThreat"></textarea>
								<mat-hint align="start">{{femaleThreats.value?.length || 0}}/1500 (Optional)</mat-hint>
							</mat-form-field>
						</div>
					</div>
                    <mat-divider></mat-divider>
					<div class="edit-animal-form-textarea-container">
						<p class="edit-animal-form-gender-title fontSB">Male Threat Behaviour</p>
						<div class="edit-animal-form-textarea-content">
							<mat-form-field appearance="outline" class="edit-animal-form-texarea">
								<textarea rows="4" matInput #maleThreat formControlName="maleThreat"></textarea>
								<mat-hint align="start">{{maleThreat.value?.length || 0}}/1500 (Optional)</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button id="cancel-btn" class="fontSB" (click)="closeDialog()">CANCEL</button>
    <button type="submit" mat-button (click)="onSubmit(false)" id="add-ranger-btn" class="fontSB">SAVE CHANGES</button>
</mat-dialog-actions>