<div id="rangers-toolbar-container">
	<div id="rangers-toolbar-navigationtree-container">
		<div id="rangers-toolbar-navigation">
			<a href="javascript:void(0)" class="fontM activeView">Rangers</a>
		</div>
	</div>
	<div id="rangers-toolbar">
        <mat-select id="rangers-toolbar-sortby-btn" class="fontR" placeholder="Sort By" disableOptionCentering>
			<mat-option value="abc" (click)="toggle(true)">Alphabetical</mat-option>
			<mat-option value="rangerLevel" (click)="toggle(false)">Ranger Level</mat-option>
			<mat-option value="activity">Recent Activity</mat-option>
		</mat-select>
        <mat-select id="rangers-toolbar-actions-btn" class="fontM" placeholder="Actions" disableOptionCentering>
			<mat-option (click)="openAddRangerDialog()">Add New Ranger</mat-option>
			<mat-option (click)='route("rangers/permissions")'>Manage Levels</mat-option>
		</mat-select>
	</div>
</div>
