<div class="animal-profile-cards-container">
    <div id="loader-container">
        <mat-spinner id="loader"></mat-spinner>
    </div>
    <div class="animal-profile-card-container" *ngFor="let animal of animalsList | filter:searchText">
        <mat-card class="animal-profile-card" id="animalID-{{animal.animalID}}">
            <img mat-card-image id="animal-info-card-picture" src="{{animal.pictures[0].URL}}">
            <div class="animal-profile-card-header">
                <mat-card-header style="margin-left: 0px;">
                    <mat-card-title class="fontSB" id="{{animal.classification}}Name">{{animal.commonName}}</mat-card-title>
                    <mat-card-subtitle class="fontM" id="{{animal.classification}}Classification">{{animal.classification}}</mat-card-subtitle>
                </mat-card-header>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="animal-profile-card-contextMenu">
					<mat-icon>more_vert</mat-icon>
				</button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="openEditAnimalDialog(animal.animalID)">
						<span>Edit Information</span>
					</button>
                    <button mat-menu-item (click)="viewAnimalPhotos(animal.classification)">
						<span>View Photos</span>
					</button>
                    <button mat-menu-item (click)="viewAnimalIdentifications(animal.animalID)">
						<span>View Identifications</span>
					</button>
                </mat-menu>
            </div>
            <mat-card-content>
                <div class="animal-profile-card-contact-container">
                    <div class="animal-profile-card-contact-info">
                        <p class="animal-profile-card-phone" id="{{animal.classification}}Descr">{{animal.animalOverview}}</p>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="buttonColour" (click)="viewAnimalProfile(animal.classification)">VIEW INFO</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>