<h1 mat-dialog-title>Add New Animal</h1>
<mat-horizontal-stepper linear labelPosition="end">
	<form [formGroup]="addAnimalForm" id="add-animal-form-container">
		<mat-step formGroupName="animalOverview" [stepControl]="addAnimalForm">
			<ng-template matStepLabel >Overview</ng-template>
			<div id="add-animal-form-overview">
				<div class="add-animal-form-content">
					<div id="overview-classification-group">
						<mat-form-field appearance="outline">
							<mat-label>Group Name</mat-label>
							<input matInput formControlName="Group_Name">
							<mat-hint>Optional</mat-hint>
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>Common Name</mat-label>
							<input matInput formControlName="Common_Name">
							<mat-hint>Optional</mat-hint>
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>Classification</mat-label>
							<input matInput formControlName="Classification">
							<mat-hint>Optional</mat-hint>
						</mat-form-field>
					</div>
					<div id="overview-physical-char-group">
						<div class="add-animal-range-container">
							<div mat-subheader class="add-animal-range-title fontSB">Average Height Range</div>
							<div class="add-animal-ranges">
								<mat-form-field appearance="outline">
									<input type="number" step ="0.1" matInput formControlName="HeightF">
									<span matSuffix>m</span>
									<mat-hint>Optional</mat-hint>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<input type="number" step ="0.1" matInput formControlName="HeightM">
									<span matSuffix>m</span>
									<mat-hint>Optional</mat-hint>
								</mat-form-field>
							</div>
						</div>
						<div class="add-animal-range-container">
							<div mat-subheader class="add-animal-range-title fontSB">Average Weight Range</div>
							<div class="add-animal-ranges">
								<mat-form-field appearance="outline">
									<input type="number" matInput formControlName="WeightF">
									<span matSuffix>kg</span>
									<mat-hint>Optional</mat-hint>
								</mat-form-field>
								<mat-form-field appearance="outline">
									<input type="number" matInput formControlName="WeightM">
									<span matSuffix>kg</span>
									<mat-hint>Optional</mat-hint>
								</mat-form-field>
							</div>
						</div>
					</div>				
					<div id="overview-other-group">
						<div class="add-animal-range-container">
							<div mat-subheader class="add-animal-range-title fontSB">Gestation Period</div>
							<div class="add-animal-ranges">
								<mat-form-field appearance="outline">
									<mat-label>Duration</mat-label>
									<input matInput formControlName="Gestation_Period">
									<mat-hint>Optional</mat-hint>
								</mat-form-field>						
								<mat-form-field appearance="outline">
									<mat-label>Offspring</mat-label>
									<input type="number" matInput formControlName="Gestation_Period" value="6">
									<mat-hint>Optional</mat-hint>
								</mat-form-field>
							</div>
						</div>
						<div class="add-animal-range-container">
							<div mat-subheader class="add-animal-range-title fontSB">Diet Type</div>
							<div class="add-animal-ranges add-animal-inputbtn-container">
								<mat-button-toggle-group id="ranger-search-controls" #group="matButtonToggleGroup">
									<mat-button-toggle value="Herbivorous" checked>Herbivorous</mat-button-toggle>
									<mat-button-toggle value="Carnivorous">Carnivorous</mat-button-toggle>
									<mat-button-toggle value="Omnivorous">Omnivorous</mat-button-toggle>
									<mat-button-toggle value="Insectivorous">Insectivorous</mat-button-toggle>
								</mat-button-toggle-group>
							</div>
						</div>
					</div>
				</div>
				<div class="add-animal-form-actions">
					<button mat-button mat-dialog-close type="button">CANCEL</button>
					<button mat-button class="nextBtn"  matStepperNext type="button">NEXT</button>
				</div>
			</div>
		</mat-step>		
		<mat-step formGroupName="animalDescrip" [stepControl]="addAnimalForm">
			<ng-template matStepLabel >Description</ng-template>
			<div id="add-animal-form-descr">
				<div class="add-animal-form-content add-animal-form-descr">
					<mat-form-field appearance="outline">
						<mat-label>Life Span</mat-label>
						<input matInput formControlName="Life_Span">
						<mat-hint>Optional</mat-hint>
					</mat-form-field>
					<mat-form-field appearance="outline" id="add-animal-form-descr-textarea">
						<mat-label>Animal Description</mat-label>
						<textarea rows="5" matInput #charTa formControlName="Description_of_animal"></textarea>
						<mat-hint align="start">{{charTa.value?.length || 0}}/300  (Optional)</mat-hint>
					</mat-form-field>
				</div>
				<div class="add-animal-form-actions">
					<button mat-button matStepperPrevious type="button">PREVIOUS</button>
					<button mat-button class="nextBtn"  matStepperNext type="button">NEXT</button>
				</div>
			</div>
		</mat-step>		
		<mat-step formGroupName="animalBehaviour" [stepControl]="addAnimalForm">
			<ng-template matStepLabel >Behaviour</ng-template>
			<div id="add-animal-form-behaviour">
				<div class="add-animal-form-content">
					<mat-form-field appearance="outline">
						<mat-label>Female Behavioural Information</mat-label>
						<textarea rows="5" matInput #femaleTa formControlName="Typical_BehaviourF" placeholder="Please enter female behavioural information."></textarea>
						<mat-hint align="start">{{femaleTa.value?.length || 0}}/300</mat-hint>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Male Behavioural Information</mat-label>
						<textarea rows="5" matInput #maleTa formControlName="Typical_BehaviourM" placeholder="Please enter male behavioural information."></textarea>
						<mat-hint align="start">{{maleTa.value?.length || 0}}/300</mat-hint>
					</mat-form-field>
				</div>
				<div class="add-animal-form-actions">
					<button mat-button matStepperPrevious type="button">PREVIOUS</button>
					<button mat-button class="nextBtn"  matStepperNext type="button">NEXT</button>
				</div>
			</div>
		</mat-step>
		<mat-step formGroupName="animalHabitat" [stepControl]="addAnimalForm">
			<ng-template matStepLabel >Habitat</ng-template>
			<div id="add-animal-form-habitat">
				<div class="add-animal-form-content add-animal-form-habitat">
					<mat-form-field appearance="outline">
						<mat-label>Habitat</mat-label>
						<input matInput formControlName="Habitat">
						<mat-hint>Optional</mat-hint>
					</mat-form-field>
					<mat-form-field appearance="outline"  id="add-animal-form-habitat-textarea">
						<mat-label>Habitat Description</mat-label>
						<textarea rows="5" matInput #habitatDescr formControlName="Habitat" placeholder="Please enter information about the animal's habitat."></textarea>
						<mat-hint align="start">{{habitatDescr.value?.length || 0}}/300</mat-hint>
					</mat-form-field>
				</div>
				<div class="add-animal-form-actions">
					<button mat-button matStepperPrevious type="button">PREVIOUS</button>
					<button mat-button class="nextBtn"  matStepperNext type="button">NEXT</button>
				</div>
			</div>
		</mat-step>		
		<mat-step formGroupName="rangerThreats" [stepControl]="addAnimalForm">
			<ng-template matStepLabel >Threats</ng-template>
			<div id="add-animal-form-threat">
				<div class="add-animal-form-content">
					<mat-form-field appearance="outline">
						<mat-label>Female Behavioural Information</mat-label>
						<textarea rows="5" matInput #femaleTa formControlName="Typical_Behaviour" placeholder="Please enter female behavioural information."></textarea>
						<mat-hint align="start">{{femaleTa.value?.length || 0}}/300</mat-hint>
					</mat-form-field>
					<mat-form-field appearance="outline">
						<mat-label>Male Behavioural Information</mat-label>
						<textarea rows="5" matInput #maleTa formControlName="Typical_Behaviour" placeholder="Please enter male behavioural information."></textarea>
						<mat-hint align="start">{{maleTa.value?.length || 0}}/300</mat-hint>
					</mat-form-field>
				</div>
				<div class="add-animal-form-actions">
					<button mat-button matStepperPrevious type="button">PREVIOUS</button>
					<button mat-button matStepperNext type="button" (click)="onSubmit()"  id="add-animal-btn">ADD ANIMAL</button>
				</div>
			</div>
		</mat-step>
	</form>
<!--<mat-dialog-actions align="center">
	<button mat-button matStepperPrevious type="button">Back</button>
	<button mat-button matStepperNext  id="add-ranger-btn" class="fontSB" type="button">Next</button>
    <button mat-button mat-dialog-close id="cancel-btn" class="fontSB">CANCEL</button>
    <button type="submit" mat-button (click)="onSubmit()" id="add-ranger-btn" class="fontSB">ADD ANIMAL</button>
</mat-dialog-actions>-->
</mat-horizontal-stepper>