<h1 mat-dialog-title>Add New Animal</h1>
<mat-dialog-content>
    <form [formGroup]="addAnimalForm" id="add-animal-form">
		<div id="add-animal-form-content">
			<mat-form-field class="add-animal-form-input" appearance="outline">
                <mat-label>Common Name</mat-label>
                <input matInput formControlName="commonName" placeholder="i.e Elephant">
                <mat-hint>Required</mat-hint>
            </mat-form-field>
            <mat-form-field class="add-animal-form-input" appearance="outline">
                <mat-label>Classification</mat-label>
                <input matInput formControlName="classification" placeholder="i.e Loxodonta Africanus">
                <mat-hint>Required</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" id="add-animal-form-descr">
                <mat-label>Animal Description</mat-label>
                <textarea rows="4" matInput #charTa formControlName="animalDescription"></textarea>
                <mat-hint align="start">{{charTa.value?.length || 0}}/1500 (Required)</mat-hint>
            </mat-form-field>
		</div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button id="cancel-btn" class="fontSB" (click)="closeDialog()">CANCEL</button>
    <button type="submit" mat-button (click)="onSubmit(false)" id="add-animal-btn" class="fontSB">ADD ANIMAL</button>
</mat-dialog-actions>