<div id="animals-gallery-view-workspace-container">
    <app-animals-gallery-toolbar [selection]="selection" (sortOptionOnChange)="sort($event)"></app-animals-gallery-toolbar>
    <div id="animals-gallery-view-workspace">
        <mat-drawer-container id="animals-gallery-search-sidenav-container">
            <mat-drawer id="animals-gallery-search-sidenav" #sidenav mode="side">
                <app-animal-search-sidenav [animals]="animals" (animalsOnChange)="updateAnimalList($event)" [selection]="selection" (searchTextOnChange)="updateSearchText($event)" (sortOptionOnChange)="sort($event)"></app-animal-search-sidenav>
                <div id="sidenav-close-btn-container" (click)="closeSidenav()">
                    <button id="side-nav-close-btn" mat-icon-button><mat-icon>chevron_left</mat-icon></button>
                </div>
            </mat-drawer>
            <mat-drawer-content id="animals-gallery-search-sidenav-content">
                <div id="sidenav-open-btn-container" (click)="openSidenav()">
                    <button id="side-nav-open-btn" mat-icon-button><mat-icon>chevron_right</mat-icon></button>
                </div>
                <app-animals-gallery-card [animalsList]="animals" [selection]="selection" (animalsOnChange)="updateAnimalList($event)"></app-animals-gallery-card>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>