:host {
    z-index: 1;
}

#animals-gallery-view-workspace-container {
    height: 88vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#animals-gallery-view-workspace {
    height: 88%;
    width: 100%;
    background-color: #F5F6FA;
}

#animals-gallery-search-sidenav-container {
    height: 100%;
    width: 100%;
}

#animals-gallery-search-sidenav {
    height: 100%;
    width: 200px;
    border-right: 2px solid #CCCCCC;
    box-shadow: 1px 0px 5px #DDDDDD;
	overflow-x: hidden;
}

#sidenav-close-btn-container {
    height: 10%;
    width: 100%;
    display: flex;
    background-image: linear-gradient(-135deg, #509CD0, #214E7D);
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#sidenav-open-btn-container {
    position: absolute;
    bottom: 3%;
    left: 0%;
    height: 6%;
    width: 40px;
    background-color: #C10839;
    border: 1px solid #C10839;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 0px 5px #BBBBBB;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    z-index: 2;
}

#sidenav-open-btn-container:hover,
#sidenav-close-btn-container:hover {
    cursor: pointer;
}

#side-nav-open-btn,
#side-nav-close-btn {
    background-color: white;
    height: 22px;
    width: 22px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

#side-nav-close-btn {
    height: 25px;
    width: 25px;
    border: 1px solid #CCCCCC;
}


/*Animal Gallery Cards*/


/*
.animal-profile-cards-container
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-around;
	overflow: auto;
}
.animal-profile-card-container
{
	height: 430px;
	width: 250px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1% 0;
}
@keyframes fadePop
{
  from {opacity: 0.1; transform: translateY(10%);}
  to {opacity: 1.0; transform: translateY(0%);}
}
.animal-profile-card
{
	height: 90%;
	width: 100%;
	box-shadow: 0px 2px 5px #AAAAAA;
	border-radius: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out;
	animation: fadePop 0.7s ease-out 0s 1 normal none;
}
.animal-profile-card:hover
{
	transform: translateY(-3%);
	box-shadow: 0px 2px 7px #898989;
}
.mat-card-image
{
	margin-bottom: 0;
	background-color: #CCCCCC;
	height: 60%;
	border: none;
}
.animal-profile-card-header
{
	height: 12%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.mat-card-header
{
	width: 90%;
	height: 100%;
}
.mat-card-title
{
	font-size: 100%;
	margin-bottom: 0;
}
.mat-card-header .mat-card-title
{
	margin-bottom: 5%;
}
.mat-card-subtitle
{
	font-size: 95%;
	color: #AAAAAA;
	margin-bottom: 0;
}
.animal-profile-card-contextMenu
{
	margin-left: auto;
	width: 10%;
	height: 70%;
	align-self: flex-start;
}
.mat-card-content
{
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 3%;
}
.animal-profile-card-contact-container
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.animal-profile-card-contact-container > p
{
	font-size: 85%;
	color: #3D3D3D;
	margin: 0;
}
.animal-profile-card-contact-info
{
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 80%;
}
.animal-profile-card-phone, .animal-profile-card-email
{
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.animal-profile-card-phone > .mat-icon, .animal-profile-card-email > .mat-icon
{
	font-size: 160%;
	line-height: 1.5;
}
.animal-profile-card-activity-container
{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.animal-profile-card-activity-container > p
{
	font-size: 85%;
	color: #3D3D3D;
	margin: 0;
}
.animal-profile-card-activity
{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.animal-profile-card-activity > pre
{
	margin: 0;
	font-size: 80%;
}
.mat-card-actions
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding-top: 0;
}
.mat-card-actions > .mat-button
{
	background-color: #686E79;
	color: white;
	width: 95%;
	font-weight: 600;
}
*/