<div id="dialog-progressbar-container">
    <mat-progress-bar mode="indeterminate" id="dialog-progressbar"></mat-progress-bar>
</div>
<h1 mat-dialog-title>Add New Ranger</h1>
<mat-dialog-content id="add-ranger-form-container">
    <form [formGroup]="addUserForm" id="add-new-ranger-form" (ngSubmit)="onSubmit(false)">
        <div class="add-new-ranger-input-container">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="First Name">
				<mat-error *ngIf="addUser.firstName.invalid && (addUser.firstName.dirty || addUser.firstName.touched)" class="alert">
					{{validationMsg(addUser.firstName, 'firstName')}}
				</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Last Name">
				<mat-error *ngIf="addUser.lastName.invalid && (addUser.lastName.dirty || addUser.lastName.touched)" class="alert">
					{{validationMsg(addUser.lastName, 'lastName')}}
				</mat-error>
            </mat-form-field>
        </div>
        <div class="add-new-ranger-input-container">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email">
				<mat-error *ngIf="addUser.email.invalid && (addUser.email.dirty || addUser.email.touched)" class="alert">
					{{validationMsg(addUser.email, 'email')}}
				</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phoneNumber" placeholder="Phone Number">
				<mat-error *ngIf="addUser.phoneNumber.invalid && (addUser.phoneNumber.dirty || addUser.phoneNumber.touched)" class="alert">
					{{validationMsg(addUser.phoneNumber, 'phoneNumber')}}
				</mat-error>
            </mat-form-field>
        </div>
        <div class="add-new-ranger-input-container">
            <mat-form-field appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob" [max]="maxDate" placeholder="Date of Birth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
				<mat-error *ngIf="addUser.dob.invalid && (addUser.dob.dirty || addUser.dob.touched)" class="alert">
					{{validationMsg(addUser.dob, 'dob')}}
				</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Password">
				<mat-error *ngIf="addUser.password.invalid && (addUser.password.dirty || addUser.password.touched)" class="alert">
					{{validationMsg(addUser.password, 'password')}}
				</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button id="cancel-btn" class="fontSB" (click)="closeDialog()">CANCEL</button>
    <button type="submit" mat-button (click)="onSubmit(false)" id="add-ranger-btn" class="fontSB buttonColour">ADD RANGER</button>
</mat-dialog-actions>