#dashboard-container
{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}
#dashboard-navigation
{
	height: 100%;
	width: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#dashboard-workspace
{
	height: 100%;
	width: 85%;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}