<div id="ranger-profile-workspace-container">
    <div id="loader-container">
        <mat-spinner id="loader"></mat-spinner>
    </div>
    <div id="rangers-toolbar-container">
        <div id="rangers-toolbar-navigationtree-container">
            <div id="rangers-toolbar-navigation">
                <a (click)="route('rangers')" class="fontM">Rangers</a>
                <mat-icon>chevron_right</mat-icon>
                <a href="javascript:void(0)" class="fontM activeView" *ngIf="user">{{user.firstName}}&nbsp;{{user.lastName}}</a>
            </div>
        </div>
        <div id="rangers-toolbar">
            <mat-select id="rangers-toolbar-actions-btn" class="fontM" placeholder="Actions" disableOptionCentering>
                <mat-option (click)="openEditRangerDialog(user.rangerID)">Edit Information</mat-option>
                <mat-option (click)="route('rangers/permissions')">Change Level</mat-option>
                <mat-option (click)="openDeleteRangerDialog(user.rangerID)">Delete Ranger</mat-option>
            </mat-select>
        </div>
    </div>
    <div id="ranger-profile-view-workspace">
        <div id="ranger-profile-info-container">
            <div id="ranger-profile-info">
                <div id="ranger-profile-info-image-container">
                    <div id="ranger-profile-info-image">
                    </div>
                </div>
                <div id="ranger-profile-info-text">
                    <div id="ranger-profile-info-details">
                        <div>
                            <h1 class="fontSB" *ngIf="user">{{user.firstName}}&nbsp;{{user.lastName}}</h1>
                            <button mat-flat-button (click)="openEditRangerDialog(user.rangerID)">Edit</button>
                        </div>
                        <p class="fontM" *ngIf="user">Level {{user.accessLevel}} Ranger</p>
                    </div>
                    <div id="ranger-profile-info-contact-container">
                        <p id="ranger-profile-info-contact-title" class="fontM">Contact Information</p>
                        <p class="ranger-profile-info-phone fontM" *ngIf="user">
                            <mat-icon>call</mat-icon>{{user.phoneNumber}}</p>
                        <p class="ranger-profile-info-email fontM" *ngIf="user">
                            <mat-icon>mail</mat-icon>{{user.eMail}}</p>
                    </div>
                </div>
            </div>
            <div id="ranger-profile-statistics-container">
                <div id="ranger-profile-statistics-title">
                    <h1 class="fontSB">Statistics</h1>
                </div>
                <div id="ranger-profile-statistics">
                    <div class="ranger-profile-stats-container">
                        <div class="ranger-profile-stats-icon-container">
                            <div class="ranger-profile-stats-icon"></div>
                        </div>
                        <div class="ranger-profile-stats-info">
                            <p class="ranger-profile-stat-text fontM">Spoors Identified</p>
                            <p class="ranger-profile-stat-num fontSB">150</p>
                        </div>
                    </div>
                    <div class="ranger-profile-stats-container">
                        <div class="ranger-profile-stats-icon-container">
                            <div class="ranger-profile-stats-icon"></div>
                        </div>
                        <div class="ranger-profile-stats-info">
                            <p class="ranger-profile-stat-text fontM">Animals Tracked</p>
                            <p class="ranger-profile-stat-num fontSB">17</p>
                        </div>
                    </div>
                    <div class="ranger-profile-stats-container">
                        <div class="ranger-profile-stats-icon-container">
                            <div class="ranger-profile-stats-icon"></div>
                        </div>
                        <div class="ranger-profile-stats-info">
                            <p class="ranger-profile-stat-text fontM">Groups Tracked</p>
                            <p class="ranger-profile-stat-num fontSB">150</p>
                        </div>
                    </div>
                    <div class="ranger-profile-stats-container">
                        <div class="ranger-profile-stats-icon-container">
                            <div class="ranger-profile-stats-icon"></div>
                        </div>
                        <div class="ranger-profile-stats-info">
                            <p class="ranger-profile-stat-text fontM">Most Tracked Species</p>
                            <p class="ranger-profile-stat-num fontSB">Black Rhino</p>
                        </div>
                    </div>
                    <div class="ranger-profile-stats-container">
                        <div class="ranger-profile-stats-icon-container">
                            <div class="ranger-profile-stats-icon"></div>
                        </div>
                        <div class="ranger-profile-stats-info">
                            <p class="ranger-profile-stat-text fontM">Locations</p>
                            <p class="ranger-profile-stat-num fontSB">2</p>
                        </div>
                    </div>
                    <div class="ranger-profile-stats-container">
                    </div>
                </div>
            </div>
        </div>
        <div id="ranger-profile-feed-container">
            <mat-tab-group mat-align-tabs="center" dynamicHeight>
                <mat-tab label="Overview" id="ranger-profile-overview-tab">
                    <ng-template matTabContent>
                        <div id="ranger-profile-overview-container">
                            <div id="ranger-profile-spoor-feed-container">
                                <div id="ranger-profile-spoor-feed-title">
                                    <h2 class="fontSB">Recently Identified Spoors</h2>
                                    <button mat-flat-button>View All</button>
                                </div>
                                <div id="ranger-profile-spoors-container">
                                    <div class="ranger-profile-spoor-container" *ngFor="let spoorId of spoorIdentifications">
                                        <div class="ranger-profile-spoor-info-container">
                                            <div class="ranger-profile-spoor-image-container">
                                                <div class="ranger-profile-spoor-image"></div>
                                            </div>
                                            <div class="ranger-profile-spoor-info">
                                                <div class="ranger-profile-spoor-animal-name">
                                                    <p class="fontSB">{{spoorId.commonName}}</p>
                                                    <p class="fontM">{{spoorId.classification}}</p>
                                                </div>
                                                <div class="ranger-profile-spoor-date">
                                                    <mat-icon>event</mat-icon>
                                                    <p class="fontM">{{spoorId.dateAndTime}}</p>
                                                </div>
                                                <div class="ranger-profile-spoor-location">
                                                    <mat-icon>room</mat-icon>
                                                    <p class="fontM">{{spoorId.location}}</p>
                                                </div>
                                            </div>
                                            <div class="ranger-profile-spoor-accuracy-container">
                                                <div class="ranger-profile-spoor-accuracy">
                                                    <div class="ranger-profile-spoor-accuracyscore">
                                                        <p class="fontB">{{spoorId.accuracyScore}}</p>
                                                    </div>
                                                    <div class="ranger-profile-spoor-accuracy-title">
                                                        <p class="fontSB">ACCURACY<br/>SCORE</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ranger-profile-spoor-options-container">
                                                <button mat-icon-button [matMenuTriggerFor]="menu" class="ranger-profile-card-contextMenu">
													<mat-icon>more_vert</mat-icon>
												</button>
                                                <mat-menu #menu="matMenu" xPosition="before">
                                                    <button mat-menu-item>
														<span>View Information</span>
													</button>
                                                    <button mat-menu-item>
														<span>View Animal</span>
													</button>
                                                    <button mat-menu-item>
														<span>Edit Information</span>
													</button>
                                                    <button mat-menu-item>
														<span>Delete Identification</span>
													</button>
                                                </mat-menu>
                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <div class="ranger-profile-spoor-tags-container">
                                            <div class="ranger-profile-spoor-tags-title">
                                                <p class="fontB">Tags</p>
                                            </div>
                                            <div class="ranger-profile-spoor-tags">
                                                <mat-chip-list>
                                                    <mat-chip selected>Found near riverbed</mat-chip>
                                                    <mat-chip color="warn" selected>Possible injury</mat-chip>
                                                    <mat-chip>Infant</mat-chip>
                                                </mat-chip-list>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ranger-profile-activity-feed-container">
                                <div id="ranger-profile-activity-feed-title">
                                    <h2 class="fontSB">Recent Activity</h2>
                                    <button mat-flat-button>View All</button>
                                </div>
                                <div id="ranger-profile-activity-container">
                                    <div class="ranger-profile-activity-container" *ngFor="let activity of activities">
                                        <div class="ranger-profile-activity-info-container">
                                            <div class="ranger-profile-activity-details-container">
                                                <div class="ranger-profile-activity-image-container">
                                                    <div class="ranger-profile-activity-image"></div>
                                                </div>
                                                <div class="ranger-profile-activity-info">
                                                    <div class="ranger-profile-activity-type">
                                                        <p class="fontSB">{{activity.type}}</p>
                                                    </div>
                                                    <div class="ranger-profile-activity-date">
                                                        <mat-icon>event</mat-icon>
                                                        <p class="fontM">{{activity.dateTime}}</p>
                                                    </div>
                                                    <div class="ranger-profile-activity-summary">
                                                        <p class="fontM">{{activity.summary.info1}}</p>
                                                        <mat-icon>arrow_right_alt</mat-icon>
                                                        <p class="fontM">{{activity.summary.info2}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ranger-profile-activity-options-container">
                                                <button mat-icon-button [matMenuTriggerFor]="menu" class="ranger-profile-card-contextMenu">
													<mat-icon>more_vert</mat-icon>
												</button>
                                                <mat-menu #menu="matMenu" xPosition="before">
                                                    <button mat-menu-item>
														<span>View Information</span>
													</button>
                                                    <button mat-menu-item>
														<span>Edit Identification</span>
													</button>
                                                    <button mat-menu-item>
														<span>Delete Identification</span>
													</button>
                                                </mat-menu>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Activity">
                </mat-tab>
                <mat-tab label="Identified Spoors">
                </mat-tab>
                <mat-tab label="Permissions">
                    <ng-template matTabContent > 
                        
                    </ng-template> 
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>