<div id="utility-navigation-container">
	<div id="utility-navigation-searchbar-container">
		<div id="utility-navigation-searchbar">
			<mat-form-field appearance="outline">
				<input matInput placeholder="Search...">
				<mat-icon matPrefix>search</mat-icon>
			</mat-form-field>
		</div>
	</div>
	<div id="utility-navigation-utilities-container">
		<mat-icon>notifications</mat-icon>
		<div id="user-profile-container">
			<div id="user-profile-dropdown">
				<div id="user-profile-pic">
					<mat-icon>person</mat-icon>
				</div>
				<p class="fontB">Administrator</p>
				<div id="user-profile-dropdown-icon">
					<mat-icon>expand_more</mat-icon>
				</div>
			</div>
		</div>
		<button (click)="logout()">

		</button>
	</div>
</div>
