<div id="utility-navigation-container">
    <div id="utility-navigation-utilities-container">
        <div id="user-profile-container">
            <div id="user-profile-dropdown">
                <div id="user-profile-pic">
                    <mat-icon>account_circle</mat-icon>
                </div>
                <mat-select id="user-profile-dropdown-icon" class="fontSB" placeholder="{{rangerName}}" disableOptionCentering>
                    <mat-option (click)="viewRangerProfile()">View Profile</mat-option>
                    <mat-option (click)="logout()">Logout</mat-option>
                </mat-select>
            </div>
        </div>
    </div>
</div>