<div id="dialog-progressbar-container">
	<mat-progress-bar mode="indeterminate" id="dialog-progressbar"></mat-progress-bar>
</div>
<h1 mat-dialog-title>
    Confirm Delete Ranger</h1>
<mat-dialog-content id="delete-ranger-container">
    <p class="fontM delete-ranger-confirmMessage">Are you sure you would like to delete</p>
    <p class="fontSB" id="delete-ranger-name">{{data.name}}</p>
    <p class="fontM delete-ranger-confirmMessage">This action will delete all information <br>associated with this Ranger*.</p>
    <p class="fontR" id="delete-ranger-clause">*This does not include any captured spoors or geotags.</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button id="cancel-btn" class="fontSB" (click)="closeDialog()">CANCEL</button>
    <button mat-button id="add-ranger-btn" (click)="confirmDelete(false)" class="fontSB">DELETE RANGER</button>
</mat-dialog-actions>