<div id="animal-photos-track-info-container">
    <div id="animal-photos-track-info-title">
        <button mat-icon-button aria-label="Close Track Info Button" (click)="backToTrackList()">
			<mat-icon>arrow_back</mat-icon>
		</button>
        <div>
            <p id="animal-photos-track-title-animal" class="fontSB" *ngIf="activeTrack">{{activeTrack.animal.commonName}} Track Identified</p>
            <p id="animal-photos-track-title-capturedby" class="fontM" *ngIf="activeTrack">Captured by {{activeTrack.ranger.firstName}} {{activeTrack.ranger.lastName}}</p>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="animal-profile-card-contextMenu">
			<mat-icon>more_vert</mat-icon>
		</button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button *ngIf="activeTrack" (click)="viewAnimalProfile(activeTrack.animal.classification)" mat-menu-item>
				<span>View Animal Information</span>
			</button>
            <button *ngIf="activeTrack" (click)="viewTrackPhotoDetails()" mat-menu-item>
				<span>View Track Photo</span>
			</button>
            <button *ngIf="activeTrack" (click)="viewAnimalPhotos(activeTrack.animal.classification)" mat-menu-item>
				<span>View Animal Photos</span>
			</button>
        </mat-menu>
    </div>
    <div id="animal-photos-track-info-content">
        <div id="animal-photos-track-image-container" matTooltip="Click to expand track photo" [matTooltipPosition]="'right'" (click)="viewTrackPhotoDetails()">
            <img *ngIf="activeTrack" src="{{activeTrack.picture.URL}}" alt="Track image">
        </div>
        <div id="animal-photos-track-id-results">
            <div id="animal-photos-track-id-title">
                <p class="fontSB">Track Identification Results</p>
            </div>
            <div id="animal-photos-track-id-result">
                <div id="animal-photos-track-id-image">
                    <img id="animal-photo-detail-current-image" *ngIf="activeTrack" src="{{activeTrack.animal.pictures[0].URL}}">
                </div>
                <div id="animal-photos-track-id-score">
                    <p id="animal-photos-track-title-commonname" class="fontM" *ngIf="activeTrack">{{activeTrack.animal.commonName}}</p>
                    <p id="animal-photos-track-title-classification" class="fontM" *ngIf="activeTrack">{{activeTrack.animal.classification}}</p>
                    <p id="animal-photos-track-accuracyscore-title" class="fontSB">Accuracy Score</p>
                    <p id="animal-photos-track-accuracy-score" class="fontB" *ngIf="activeTrack">{{activeTrack.potentialMatches[activeTrack.potentialMatches.length - 1].confidence | percent}}</p>
                </div>
            </div>
        </div>
        <div id="animal-photos-track-geotag-container">
            <div class="animal-photos-container-title">
                <p class="fontSB">Track Geotag Information</p>
            </div>
            <div id="animal-photos-track-geotag-info">
                <div id="animal-photos-geotag-location-info">
                    <div class="animal-photos-geotag-entry-container">
                        <div class="animal-photos-geotag-icon-container">
                            <mat-icon>room</mat-icon>
                        </div>
                        <div class="animal-photos-geotag-text-container">
                            <p class="fontM" *ngIf="activeTrack.location.addresses; else defaultAddress">{{activeTrack.location.addresses[0].formatted_address}}</p>
                            <ng-template #defaultAddress>
                                <p class="fontM">Physical Address not found.</p>
                            </ng-template>
                            <p class="fontM" *ngIf="activeTrack">{{activeTrack.location.latitude}}, {{activeTrack.location.longitude}}</p>
                        </div>
                    </div>
                </div>
                <div id="animal-photos-geotag-date-info">
                    <div class="animal-photos-geotag-entry-container">
                        <div class="animal-photos-geotag-icon-container">
                            <mat-icon>event</mat-icon>
                        </div>
                        <div class="animal-photos-geotag-text-container">
                            <p class="fontM" *ngIf="activeTrack">{{activeTrack.dateObj | date:'EEE'}}, {{activeTrack.dateObj | date:'h:mm a'}}</p>
                            <p class="fontM" *ngIf="activeTrack">{{activeTrack.dateObj | date:'dd MMMM yyyy'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="animal-photos-other-matches-container">
            <div class="animal-photos-container-title">
                <p class="fontSB">Other Possible Matches</p>
                <div class="other-potential-matches-nav">
                    <button mat-icon-button (click)="prevPotentialMatch()">
						<mat-icon>chevron_left</mat-icon>
					</button>
                    <button mat-icon-button (click)="nextPotentialMatch()">
						<mat-icon>chevron_right</mat-icon>
					</button>
                </div>
            </div>
            <div id="animal-photos-other-matches-tab">
				<ng-container *ngIf="otherMatchesList == null; else showOtherPossibleMatches">
					<div class="mat-group-loading-container">
						Searching for other possible matches...
					</div>
				</ng-container>
				<ng-template #showOtherPossibleMatches>
					<ng-container *ngIf="otherMatchesList.length == 0; else otherMatches">
						<div class="reclassify-option-container">
							<div class="reclassify-option-text-container">
								<p class="fontSB">Other possible matches could not be found.</p>
								<p class="fontSB">Alternatively, click the button below to reclassify this track.</p>
							</div>
							<div class="reclassify-option-btn-container">
								<button mat-button class="buttonColour">Reclassify Track</button>
							</div>
						</div>
					</ng-container>
					<ng-template #otherMatches>
						<mat-tab-group #otherMatchesMatTab [selectedIndex]="otherMatchesMatTabIndex">
							<ng-container *ngFor="let matchGroup of otherMatchesList"> 
								<mat-tab [label]="tab">
									<div class="other-potential-matches-container">
										<ng-container *ngIf="matchGroup.length != 0">
											<ng-container *ngFor="let match of matchGroup; count as numMatches">
												<ng-container *ngIf="match.animal.commonName != 'showReclassifyOption'">
													<div class="other-potential-matches-animal">
														<div class="other-potential-matches-image-container">
															<div class="other-potential-matches-image" [matMenuTriggerFor]="otherPossibleMatchMenu">
																<img src="{{match.animal.pictures[0].URL}}">
															</div>
														</div>
														<mat-menu #otherPossibleMatchMenu="matMenu" xPosition="before">
															<button mat-menu-item (click)="reclassifyTrack(activeTrack, match.animal)">
																<span>Reclassify Track</span>
															</button>
														</mat-menu>
														<div class="other-potential-matches-animal-info">
															<p class="other-potential-match-commonname fontSB">
																{{match.animal.commonName}}
															</p>
															<p class="other-potential-match-classification fontM">
																{{match.animal.classification | titlecase}}
															</p>
															<p class="other-potential-match-accuracy-score fontB">
																{{match.confidence | percent}}
															</p>
														</div>
													</div>
													<ng-container *ngIf="numMatches == 1">
														<div class="other-potential-matches-animal">
															<div class="reclassify-option-container">
																<div class="reclassify-option-text-container">
																	<p class="fontSB">There are no further matches.</p>
																	<p class="fontSB">Optionally, click the button below to reclassify this track.</p>
																</div>
																<div class="reclassify-option-btn-container">
																	<button mat-button class="buttonColour">Reclassify Track</button>
																</div>
															</div>
														</div>
													</ng-container>
												</ng-container>
												<ng-container *ngIf="match.animal.commonName == 'showReclassifyOption'">
													<div class="reclassify-option-container">
														<div class="reclassify-option-text-container">
															<p class="fontSB">There are no further matches.</p>
															<p class="fontSB">Optionally, click the button below to reclassify this track.</p>
														</div>
														<div class="reclassify-option-btn-container">
															<button mat-button class="buttonColour">Reclassify Track</button>
														</div>
													</div>
												</ng-container>
											</ng-container>
										</ng-container>
									</div>
								</mat-tab>
							</ng-container>
						</mat-tab-group>
					</ng-template>					
				</ng-template>
            </div>
        </div>
        <div id="animal-photos-similar-tracks-container">
            <div class="animal-photos-container-title">
                <p class="fontSB">Similar Tracks</p>
                <div class="other-potential-matches-nav">
                    <button mat-icon-button (click)="prevSimilarTrack()">
						<mat-icon>chevron_left</mat-icon>
					</button>
                    <button mat-icon-button (click)="nextSimilarTrack()">
						<mat-icon>chevron_right</mat-icon>
					</button>
                </div>
            </div>
            <div id="animal-photos-similar-tracks-tab">
				<ng-container *ngIf="similarTrackList == null; else showSimilarTracks">
					<div class="mat-group-loading-container">
						<p class="fontSB">Searching for similar tracks...</p>
					</div>
				</ng-container>
				<ng-template #showSimilarTracks>
						<ng-container *ngIf="similarTrackList.length == 0; else similarTracks">
							<p>Similar tracks could not be found.</p>
						</ng-container>
						<ng-template #similarTracks>
							<mat-tab-group mat-align-tabs="center" #simTracksMatTab [selectedIndex]="similarTracksMatTabIndex">
								<mat-tab *ngFor="let similarTrackBatch of similarTrackList">
									<mat-grid-list class="similarTracksBatchGrid" cols="3" rowHeight="1:1">
										<mat-grid-tile *ngFor="let similarTrack of similarTrackBatch" (click)="changeActiveTrack(similarTrack)">
											<div class="other-potential-matches-image-container" matTooltip="View track on map" [matTooltipPosition]="'above'" >
												<div class="other-potential-matches-image">
													<img src="{{similarTrack.picture.URL}}">
												</div>
											</div>
										</mat-grid-tile>									
									</mat-grid-list>
								</mat-tab>
							</mat-tab-group>
						</ng-template>					
				</ng-template>
            </div>
        </div>
        <div id="animal-photos-track-tags-container">
            <div id="animal-photos-tags-container-title">
                <p class="fontSB">Tag Information</p>
            </div>
            <div id="animal-photos-track-tag-list">
                <mat-chip-list>
                    <mat-chip selected *ngFor="let tag of activeTrack.tags">{{tag}}</mat-chip>
                    <mat-chip color="warn" selected>Possible injury</mat-chip>
                    <mat-chip>Infant</mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>
</div>