<div class="ranger-profile-cards-container">
<div id="loader-container">
	<mat-spinner id="loader"></mat-spinner>
</div>
<div class="ranger-profile-card-container" *ngFor="let ranger of rangers | filter:searchText">
        <mat-card class="ranger-profile-card" id="ranger{{ranger.Token}}ProfileCard">
            <div class="ranger-profile-card-header">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="fontSB" id="ranger{{ranger.Token}}Name">{{ranger.firstName}}&nbsp;{{ranger.lastName}}</mat-card-title>
                    <mat-card-subtitle class="fontM" id="ranger{{ranger.Token}}RangerLevel">Level {{ranger.Access_Level}} Ranger</mat-card-subtitle>
                </mat-card-header>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="ranger-profile-card-contextMenu">
					<mat-icon>more_vert</mat-icon>
				</button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="openEditRangerDialog(ranger.Token)">
						<span>Edit Information</span>
					</button>
                    <button mat-menu-item>
						<span>View Geotags</span>
					</button>
                    <button mat-menu-item (click)="route('rangers/permissions')">
						<span>Change Level</span>
					</button>
                    <button mat-menu-item (click)="openDeleteRangerDialog(ranger.Token)">
						<span>Delete Ranger</span>
					</button>
                </mat-menu>
            </div>
            <mat-card-content>
                <div class="ranger-profile-card-contact-container">
                    <p class="fontSB">Contact Information</p>
                    <div class="ranger-profile-card-contact-info">
                        <p class="ranger-profile-card-phone" id="ranger{{ranger.Token}}PhoneNumber">
                            <mat-icon>call</mat-icon>{{ranger.phoneNumber}}</p>
                        <p class="ranger-profile-card-email" id="ranger{{ranger.Token}}Email">
                            <mat-icon>mail</mat-icon>{{ranger.e_mail}}</p>
                    </div>
                </div>
                <div class="ranger-profile-card-activity-container">
                    <p class="fontSB">Recent Activity</p>
                    <div class="ranger-profile-card-activity">
                        <pre>{{ranger.activity}}</pre>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>VIEW PROFILE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>