#ranger-search-sidenav {
    height: 100%;
    width: 100%;
}

#ranger-search-controls-container {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #CCCCCC;
}

.mat-form-field {
    width: 90%;
    font-size: 105%;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.2em 0 0.5em 0;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

#ranger-search-results-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#track-identification-search-results {
	height: 90%;
    overflow-y: auto;
    padding: 0 4%;
	width: 100%;
}

#track-identification-container-pagination-controls {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #CCC;
}

.mat-paginator {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-135deg, #509CD0, #214E7D);
    color: white;
}

.track-identification-container {
    height: 85px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    animation: fadePop 0.7s ease-out 0s 1 normal none;
}

@keyframes fadePop {
    from {
        opacity: 0.1;
        transform: translateY(30%);
    }
    to {
        opacity: 1.0;
        transform: translateY(0%);
    }
}

.track-identification-container:hover {
    cursor: pointer;
    transform: translateY(-10%);
}

.track-identification-image-container {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #CCC;
    border-radius: 5%;
    overflow: hidden;
}

.track-identification-image-container>img {
    height: 100%;
    width: 100%;
}

.track-identification-info-container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track-identification-animal-name>span {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.track-identification-animal-commonName {
    color: #686E79;
    font-size: 100%;
}

.track-identification-capture-date {
    font-size: 80%;
}

.track-identification-animal-classification,
.track-identification-capture-ranger {
    color: #AAA;
}

.track-identification-animal-name>p,
.track-identification-animal-name>span>p,
.track-identification-capture-ranger,
.track-identification-info-container>span>p {
    margin: 0;
    padding: 0;
}

.track-identification-capture-ranger,
.track-identification-info-container>span>p {
    font-size: 80%;
}

.track-identification-info-container>span {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

:host ::ng-deep .mat-list-text {
    padding-left: 10% !important;
    padding-right: 0 !important;
}

.mat-tab-group {
    height: 100%;
    width: 100%;
    background-color: white;
}

:host ::ng-deep .mat-tab-header {
    display: none;
}

:host ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
}


/* Search sidenav loader */

#search-nav-loader-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    visibility: hidden;
    background: rgba(1.0, 1.0, 1.0, 0.1);
    z-index: 100;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

#search-nav-loader-container>#loader {
    left: 40%;
}