<div id="ranger-search-sidenav">
    <mat-tab-group mat-align-tabs="center" #trackMatTab [selectedIndex]="1">
		<mat-tab label="Heatmap">
            <app-track-heatmap-options></app-track-heatmap-options>
		</mat-tab>
        <mat-tab label="All tracks">
            <div id="ranger-search-results-container">
                <div id="empty-sidenav-display-message-container" class="empty-display-message-container" [hidden]="trackIdentifications != null && trackIdentifications.length > 0">
                    <div id="empty-sidenav-display-message" class="empty-display-message">
                        <p class="fontM">There is no data to display.</p>
                    </div>
                </div>
                <mat-selection-list id="track-identification-search-results" [multiple]="false" class="ranger-search-results-entries">
                    <div class="track-identification-container" (click)="viewTrack(track)" *ngFor="let track of trackIdentifications; let trackTimeAgo of trackDateTimes">
                        <div class="track-identification-image-container">
                            <img src="{{track.picture.URL}}" alt="Track image">
                        </div>
                        <div class="track-identification-info-container">
                            <div class="track-identification-animal-name">
                                <span><p class="track-identification-animal-commonName fontSB">{{track.animal.commonName}}</p><p class="track-identification-capture-date fontR">{{trackTimeAgo.timeAsString | relativeTime }}</p></span>
                                <p class="track-identification-animal-classification fontM">{{track.animal.classification | titlecase}}</p>
                            </div>
                            <p class="track-identification-capture-ranger fontM" *ngIf="track.ranger;">Captured by {{track.ranger.firstName}} {{track.ranger.lastName}}</p>
                            <span><p class="fontSB">ACCURACY SCORE:&nbsp;</p><p class="track-identification-accuracy-score fontB">{{track.potentialMatches[track.potentialMatches.length - 1].confidence | percent }}</p></span>
                        </div>
                    </div>
                </mat-selection-list>
                <div id="track-identification-container-pagination-controls">
                    <mat-paginator #trackPaginator (page)="onPageChange($event)" [pageSize]="25" [hidePageSize]="true"></mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Track">
			<ng-container *ngIf="activeTrack">
            <app-track-identifications-info [originType]="originType"></app-track-identifications-info>
			</ng-container>
        </mat-tab>
    </mat-tab-group>
</div>