<div id="ranger-search-sidenav">
    <div id="ranger-search-controls-container">
        <mat-form-field appearance="outline">
            <input id="search-sidenav-input" matInput placeholder="Search Tracks..." type="text" name="search">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>
    <div id="ranger-search-results-container">
		<div id="loader-container">
			<mat-spinner id="loader"></mat-spinner>
		</div>
        <mat-selection-list id="track-identification-search-results" [multiple]="false" class="ranger-search-results-entries">
			<div class="track-identification-container" *ngFor="let track of trackIdentifications">
				<div class="track-identification-image-container">
					<!-- @Zach, insert track image here <img src="" alt="Track image">-->
				</div>
				<div class="track-identification-info-container">
                    <div class="track-identification-animal-name">
                        <span><p class="track-identification-animal-commonName fontSB">{{track.commonName}}</p><p class="track-identification-capture-date fontR">{{track.recentPlaceholder}}</p></span>
                        <p class="track-identification-animal-classification fontM">{{track.classification}}</p>
                    </div>
					<p class="track-identification-capture-ranger fontM">Captured by {{track.capturedBy}}</p>
					<span><p class="fontSB">ACCURACY SCORE:&nbsp;</p><p class="track-identification-accuracy-score fontB">{{track.accuracyScore}}</p></span>
				</div>
			</div>
        </mat-selection-list>
    </div>
</div>