<div id="identifications-toolbar-container">
    <div id="identifications-toolbar-navigationtree-container">
        <div id="identifications-toolbar-navigation">
            <a href="javascript:void(0)" class="fontM activeView">Track Identifications</a>
        </div>
    </div>
    <div id="identifications-toolbar">
        <mat-select id="identifications-filter-btn" class="identifications-select-btn" class="fontR" placeholder="Filter By" disableOptionCentering>
            <mat-option value="animalCommonName">Common Name</mat-option>
            <!-- mat-option value="animalGroup">Animal Group</mat-option>
            <mat-option value="rangerCaptured">Identifying Ranger</mat-option>
            <mat-option value="identificationTags">Identification Tags</mat-option> -->
        </mat-select>
        <!--mat-select id="identifications-toolbar-actions-btn" class="fontM" placeholder="Actions" disableOptionCentering>
        <mat-option>Option 1</mat-option>
        <mat-option>Option 2</mat-option>
        </mat-select-->
    </div>
</div>