<div id="identifications-toolbar-container">
    <div id="identifications-toolbar-navigationtree-container">
        <div id="identifications-toolbar-navigation">
            <a href="javascript:void(0)" class="fontM activeView">Track Identifications</a>
        </div>
    </div>
    <div id="identifications-toolbar">
		<div id="heatmap-toggle-btn-container" class="identifications-toolbar-tool-container">
			<button mat-stroked-button (click)="toggleHeatmap()" matTooltip="{{showHeatmap ? 'Heatmap (On)' : 'Heatmap (Off)'}}" [disabled]="filterOptionSelect.empty || filterByOption != 'Animal'">
				<mat-icon>{{showHeatmap ? 'blur_on' : 'blur_off'}}</mat-icon>
				<p>Heatmap</p>
			</button>
		</div>
		<div class="identifications-toolbar-tool-container">
			<mat-select id="identifications-filter-btn" class="identifications-select-btn fontR" #filterTypeSelect (valueChange)="updateFilter($event.value)" placeholder="Filter By" disableOptionCentering>
				<mat-option value="commonName" (click)="updateFilter('Animal')">Animal</mat-option>
				<mat-option value="animalGroup" (click)="updateFilter('Group')">Group</mat-option>
				<mat-option value="identifyingRanger" (click)="updateFilter('Ranger')">Ranger</mat-option>
				<!-- <mat-option value="tagChoice" (click)="updateFilter(3)">Tag</mat-option> -->
			</mat-select>
		</div>
		<div  class="identifications-toolbar-tool-container">
			<mat-select id="identifications-toolbar-actions-btn" class="fontM" #filterOptionSelect placeholder="Choose Filter..." disableOptionCentering (selectionChange)="toggleHeatmapSettings()">
				<mat-option *ngFor="let element of filterOptions" [value]="element" (click)="filterList(element)">{{element}}</mat-option>
			</mat-select>
		<div>
    </div>
</div>