<div id="identifications-toolbar-container">
    <div id="identifications-toolbar-navigationtree-container">
        <div id="identifications-toolbar-navigation">
            <a href="javascript:void(0)" class="fontM activeView">Track Identifications</a>
        </div>
    </div>
    <div id="identifications-toolbar">
        <mat-select id="identifications-filter-btn" class="identifications-select-btn" class="fontR" placeholder="Filter By" disableOptionCentering>
            <mat-option value="commonName" (click)="updateFilter(0)">Common Name</mat-option>
            <mat-option value="animalGroup" (click)="updateFilter(1)">Animal Group</mat-option>
            <mat-option value="identifyingRanger" (click)="updateFilter(2)">Identifying Ranger</mat-option>
            <!-- <mat-option value="tagChoice" (click)="updateFilter(3)">Tag</mat-option> -->
        </mat-select>
        <mat-select id="identifications-toolbar-actions-btn" class="fontM" placeholder="Choose Filter..." disableOptionCentering>
            <mat-option *ngFor="let element of filterOptions" [value]="element" (click)="filterList(element)">{{element}}</mat-option>
        </mat-select>
    </div>
</div>