<div id="animals-toolbar-container">
    <div id="animals-toolbar-navigationtree-container">
        <div id="animals-toolbar-navigation">
            <a href="javascript:void(0)" class="fontM activeView">Animals</a>
        </div>
    </div>
    <div id="animals-toolbar">
        <mat-form-field id="animals-toolbar-search-bar" appearance="outline">
            <input id="search-sidenav-input" matInput placeholder="Search Animals" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" (ngModelChange)="updateSearchText($event)">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <mat-select id="animals-toolbar-sortby-btn" class="fontR" placeholder="Sort By" disableOptionCentering>
            <mat-option value="abc" (click)="sort('byAbc')">Alphabetical</mat-option>
            <mat-option value="groups" (click)="sort('byGroup')">Groups</mat-option>
            <mat-option value="height" (click)="sort('byHeight')">Height</mat-option>
            <mat-option value="weight" (click)="sort('byWeight')">Weight</mat-option>
        </mat-select>
        <mat-select id="animals-toolbar-actions-btn" style="color: black !important;" class="fontM" placeholder="Actions" disableOptionCentering>
            <mat-option (click)="openAddAnimalDialog()">Add New Animal</mat-option>
            <mat-option (click)="navGroups()">Group Management</mat-option>
        </mat-select>
    </div>
</div>