<div id="overview-workspace-container">
	<div id="statistics-view-navigation-container">
		<nav id="statistics-view-navigation" mat-tab-nav-bar>
			<a mat-tab-link (click)='route("ranger-statistics")'>Ranger Statistics</a>
			<a mat-tab-link [active]="'animal-statistics'">Animal Statistics</a>
		</nav>
	</div>
    <div id="overview-workspace">
		<mat-drawer-container  id="animal-search-sidenav-container">
            <mat-drawer id="animal-search-sidenav" #statisticsSidenav mode="over" (closedStart)="showSidenavBtn()">
				<div id="animal-statistics-navigation-container">
					<mat-selection-list #animalStatsNavSelectList [multiple]="false">
						<mat-list-option [ngClass]="{'activeStatsNavRoute': activeAnimalStatsTabIndex == 0}" [selected]="activeAnimalStatsTabIndex == 0" class="fontSB">Tracking Activity</mat-list-option>
					</mat-selection-list>
				</div>
                <div id="sidenav-close-btn-container" (click)="closeSidenav()">
                    <button id="side-nav-close-btn" mat-icon-button><mat-icon>chevron_left</mat-icon></button>
                </div>
            </mat-drawer>
            <mat-drawer-content id="animal-search-sidenav-content">
					<div id="loader-container">
					<mat-spinner id="loader"></mat-spinner>
				</div>
                <div id="sidenav-open-btn-container" (click)="openSidenav()">
                    <button id="side-nav-open-btn" mat-icon-button><mat-icon>chevron_right</mat-icon></button>
                </div>
				<mat-tab-group id="animal-statistics-view-tabgroup" #animalStatsTab animationDuration="0ms" dynamicHeight> 
					<mat-tab label="Login Activity">
						<div class="animal-statistics-container">
							<div id="animal-tracking-statistics-container">
								<div class="statistics-header-container">
									<h1>Animal Tracking Activity Overview</h1>
								</div>
								<div class="statistics-content-main-container">
									<div id="animal-identifications-statistics-content-row1" class="statistics-content-row-container">
										<div id="animal-numAnimals-alltime-stats" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Number of Animals being tracked</p>
											</div>
											<div class="statistics-content-container-content">
												<div class="statistics-card-container">
													<ng-container *ngIf="numAnimals.length == 0; else showNumAnimals">
														<div class="emptyDataMessage">
															<p class="fontSB">No data to show.</p>
														</div>
													</ng-container>
													<ng-template #showNumAnimals>
														<ngx-charts-number-card
															[animations]="true"
															[scheme]="redColorScheme"
															[results]="numAnimals"
															[cardColor]="cardColor"
															[innerPadding]="0">
														</ngx-charts-number-card>
													</ng-template>
												</div>
											</div>
										</div>
										<div id="animal-numIdentifications-alltime-stats" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Number of Track Identifications</p>
											</div>
											<div class="statistics-content-container-content">
												<div class="statistics-card-container">
													<ng-container *ngIf="alltime_numIdentifications.length == 0; else showNumIds">
														<div class="emptyDataMessage">
															<p class="fontSB">No data to show.</p>
														</div>
													</ng-container>
													<ng-template #showNumIds>				
														<ngx-charts-number-card
															[animations]="true"
															[scheme]="greenColorScheme"
															[results]="alltime_numIdentifications"
															[cardColor]="cardColor"
															[innerPadding]="0">
														</ngx-charts-number-card>
													</ng-template>
												</div>
											</div>
										</div>
										<div id="animal-track-rankings-alltime-stats" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Track Rankings Overview - All Time</p>
											</div>
											<div class="statistics-content-container-content">
												<div class="animals-rankings-overview-container">
													<ng-container *ngIf="!mostTrackedAnimal && !leastTrackedAnimal">
														<div class="emptyDataMessage">
															<p class="fontSB">No data to show.</p>
														</div>
													</ng-container>
													<ng-container *ngIf="mostTrackedAnimal">
														<div class="animal-rankings-overview-container">
															<div class="track-identification-image-container">
																<img src="{{mostTrackedAnimal.animal.pictures[0].URL}}" alt="Track image">
															</div>
															<div class="track-identification-info-container">
																<div class="track-identification-animal-name">
																	<span><p class="track-identification-animal-commonName fontSB">Most Tracked Animal</p></span>
																	<p class="track-identification-animal-classification fontM">{{mostTrackedAnimal.animal.commonName | titlecase}}</p>
																</div>
																<p class="track-identification-capture-ranger fontM">{{mostTrackedAnimal.numIds}} Total Track Identifications</p>
															</div>
														</div>
													</ng-container>
													<ng-container *ngIf="leastTrackedAnimal">
														<div class="animal-rankings-overview-container">
															<div class="track-identification-image-container">
																<img src="{{leastTrackedAnimal.animal.pictures[0].URL}}" alt="Track image">
															</div>
															<div class="track-identification-info-container">
																<div class="track-identification-animal-name">
																	<span><p class="track-identification-animal-commonName fontSB">Least Tracked Animal</p></span>
																	<p class="track-identification-animal-classification fontM">{{leastTrackedAnimal.animal.commonName | titlecase}}</p>
																</div>
																<p class="track-identification-capture-ranger fontM">{{leastTrackedAnimal.numIds}} Total Track Identifications</p>
															</div>
														</div>
													</ng-container>
												</div>
											</div>										
										</div>
									</div>
									<div  id="animal-identifications-statistics-content-row2" class="statistics-content-row-container">
										<div id="animal-identifications-byDate-stats" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Number of Track Identifications By Animal - All Time</p>
											</div>
											<div class="statistics-content-container-content">
												<div class="by-date-graph-container">
													<ng-container *ngIf="identificationsByAnimal.length == 0; else showNumIdByAnimal">
														<div class="emptyDataMessage">
															<p class="fontSB">No data to show.</p>
														</div>
													</ng-container>
													<ng-template #showNumIdByAnimal>
														<ngx-charts-pie-chart
															  [scheme]="animalColorScheme"
															  [animations]="true"
															  [results]="identificationsByAnimal"
															  [legend]="true"
															  [legendPosition]="'right'"
															  [labels]="true"
															  [doughnut]="true">
														</ngx-charts-pie-chart>
													</ng-template>
												</div>
											</div>
										</div>
									</div>
									<div  id="animal-identifications-statistics-content-row2" class="statistics-content-row-container">
										<div id="animal-identifications-byDate-stats" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Avg. Accuracy Score By Animal - All Time</p>
											</div>
											<div class="statistics-content-container-content">
												<div class="by-date-graph-container">
													<ng-container *ngIf="avgScoreByAnimal.length == 0; else showAvgScoreByAnimal">
														<div class="emptyDataMessage">
															<p class="fontSB">No data to show.</p>
														</div>
													</ng-container>
													<ng-template #showAvgScoreByAnimal>
														<ngx-charts-bar-vertical
															  [xAxis]="true"
															  [yAxis]="true"
															  [legend]="true"
															  [showXAxisLabel]="true"
															  [showYAxisLabel]="true"
															  [xAxisLabel]="'Animals'"
															  [yAxisLabel]="'Avg. Accuracy Score'"
															  [scheme]="animalColorScheme"
															  [animations]="true"
															  [results]="avgScoreByAnimal">
														</ngx-charts-bar-vertical>
													</ng-template>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
				</mat-tab-group>
           </mat-drawer-content>
		</mat-drawer-container>
    </div>
</div>