<div id="overview-workspace-container">
	<div id="statistics-view-navigation-container">
		<nav id="statistics-view-navigation" mat-tab-nav-bar>
			<a mat-tab-link (click)='route("ranger-statistics")'>Ranger Statistics</a>
			<a mat-tab-link [active]="'animal-statistics'">Animal Statistics</a>
		</nav>
	</div>
    <div id="overview-workspace">
		<mat-drawer-container  id="ranger-search-sidenav-container">
            <mat-drawer id="ranger-search-sidenav" #statisticsSidenav mode="over" (closedStart)="showSidenavBtn()">
				<div id="ranger-statistics-navigation-container">
					<mat-selection-list #rangerStatsNavSelectList [multiple]="false">
						<mat-list-option (click)="changeRangerStatsTab(0)" [ngClass]="{'activeStatsNavRoute': activeRangerStatsTabIndex == 0}" [selected]="activeRangerStatsTabIndex == 0" class="fontSB">Tracking Activity</mat-list-option>
						<mat-list-option (click)="changeRangerStatsTab(1)" [ngClass]="{'activeStatsNavRoute': activeRangerStatsTabIndex == 1}" [selected]="activeRangerStatsTabIndex == 1" class="fontSB">?? Activity</mat-list-option>
					</mat-selection-list>
				</div>
                <div id="sidenav-close-btn-container" (click)="closeSidenav()">
                    <button id="side-nav-close-btn" mat-icon-button><mat-icon>chevron_left</mat-icon></button>
                </div>
            </mat-drawer>
            <mat-drawer-content id="ranger-search-sidenav-content">
				<div id="loader-container">
					<mat-spinner id="loader"></mat-spinner>
				</div>
                <div id="sidenav-open-btn-container" (click)="openSidenav()">
                    <button id="side-nav-open-btn" mat-icon-button><mat-icon>chevron_right</mat-icon></button>
                </div>
				<mat-tab-group id="ranger-statistics-view-tabgroup" #rangerStatsTab animationDuration="0ms" dynamicHeight> 
					<mat-tab label="Login Activity">
						<div id="ranger-statistics-container">
							<div id="ranger-login-statistics-container">
								<div class="statistics-header-container">
									<h1>Animal Tracking Statistics</h1>
								</div>
								<div class="statistics-content-main-container">
									<div id="ranger-loginby-statistics-content-row1" class="statistics-content-row-container">
										<div id="ranger-loginbyapp-stats-container" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Logins By Application - All Time</p>
											</div>
											<div class="statistics-content-container-content">
												<!--<ngx-charts-pie-grid [scheme]="loginsPerAppColorScheme" [results]="loginsPerApp"></ngx-charts-pie-grid>-->
											</div>
										</div>
										<div id="ranger-loginbylevel-stats-container" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Logins By Ranger Level - All Time</p>
											</div>
											<div class="statistics-content-container-content">
												<!--<ngx-charts-advanced-pie-chart [animations]="true" [scheme]="loginsPerLevelColorScheme" [results]="loginsPerLevel">
													</ngx-charts-advanced-pie-chart>	-->
											</div>													
										</div>
									</div>
									<div  id="ranger-loginby-statistics-content-row2" class="statistics-content-row-container">
										<div id="ranger-loginbydate-stats-container" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Logins By Date - {{loginsByDateStart.toDateString()}} to {{loginsByDateEnd.toDateString()}}</p>
												<div class="statistics-content-title-toolbar-container">
													<mat-form-field id="loginsByDatePicker" class="statistics-datepicker" appearance="fill">
														<mat-date-range-input [formGroup]="loginsByDateRangeForm" [rangePicker]="loginsByDatePicker">
															<input matStartDate formControlName="loginsByDateStartControl">
															<input matEndDate formControlName="loginsByDateEndControl">
														</mat-date-range-input>
														<mat-date-range-picker #loginsByDatePicker></mat-date-range-picker>
													</mat-form-field>
													<button mat-icon-button (click)="loginsByDatePicker.open()" aria-label="Select Date Range">
														<mat-icon>date_range</mat-icon>
													</button>
													<div class="statistics-content-title-toolbar-toggleGroupContainer">
														<mat-button-toggle-group #loginsByDateToggleGroup class="statistics-content-title-toolbar-toggleGroup" (change)="changeLoginsByDateFilter($event.value)" value="platform">
														  <mat-button-toggle value="level">Level</mat-button-toggle>
														  <mat-button-toggle value="platform">Platform</mat-button-toggle>
														</mat-button-toggle-group>
													</div>
												</div>
											</div>
											<div class="statistics-content-container-content">
												<div class="by-date-graph-container">
													<!--<ngx-charts-area-chart-stacked [animations]="true" [scheme]="loginsPerDateColorScheme" [legend]="true" 
														[showXAxisLabel]="true"
														[showYAxisLabel]="true"
														[xAxis]="true"
														[yAxis]="true"
														[xAxisLabel]="'Login Date'" [yAxisLabel]="'Number of logins'"
														[timeline]="true" [results]="loginsPerDate">
													</ngx-charts-area-chart-stacked>-->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
					<mat-tab label="Tracking Activity">
						<div id="ranger-statistics-container">
							<div id="ranger-login-statistics-container">
								<div class="statistics-header-container">
									<h1>Ranger Tracking Activity</h1>
								</div>
								<div class="statistics-content-main-container">
									<div id="ranger-identifications-statistics-content-row1" class="statistics-content-row-container">
										<div id="ranger-identifications-alltime-stats" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Total Identifications - All Time</p>
											</div>
											<div class="statistics-content-container-content">
												<div class="statistics-card-container">
													<!--<ngx-charts-number-card
														[animations]="true"
														[scheme]="blueColorScheme"
														[results]="alltime_numIdentifications"
														[cardColor]="cardColor"
														[innerPadding]="0">
													</ngx-charts-number-card>	-->
												</div>
											</div>
										</div>
										<div id="ranger-accuracyscore-alltime-stats" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Avg. Accuracy Score - All Time</p>
											</div>
											<div class="statistics-content-container-content">
												<div class="statistics-card-container">
													<!--<ngx-charts-number-card
														[animations]="true"
														[scheme]="greenColorScheme"
														[results]="alltime_avgAccuracyScore"
														[cardColor]="cardColor"
														[valueFormatting]="formatAsPercentage"
														[labelFormatting]="formatWithTimeFrame"
														[innerPadding]="0">
													</ngx-charts-number-card>		-->	
												</div>
											</div>
										</div>
										<div id="ranger-identificationsByLevel-alltime-stats" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Identifications By Level - All Time</p>
											</div>
											<div class="statistics-content-container-content">
												<!--<ngx-charts-advanced-pie-chart [animations]="true" [scheme]="loginsPerLevelColorScheme" [results]="allIdentificationsByLevel">
													</ngx-charts-advanced-pie-chart>	-->
											</div>										
										</div>
									</div>
									<div  id="ranger-identifications-statistics-content-row2" class="statistics-content-row-container">
										<div id="ranger-identifications-byDate-stats" class="statistics-content-container">
											<div class="statistics-content-container-title">
												<p class="fontSB">Track Identifications By Date - {{allIdsByDateStart.toDateString()}} to {{allIdsByDateEnd.toDateString()}}</p>
												<div class="statistics-content-title-toolbar-container">
													<mat-form-field id="tracksByDatePicker" class="statistics-datepicker" appearance="fill">
														<mat-date-range-input [formGroup]="allIdsByDateRangeForm" [rangePicker]="tracksByDatePicker">
															<input formControlName="allIdsByDateStartControl" matStartDate>
															<input formControlName="allIdsByDateEndControl" matEndDate>
														</mat-date-range-input>
														<mat-date-range-picker #tracksByDatePicker></mat-date-range-picker>
													</mat-form-field>
													<button mat-icon-button (click)="tracksByDatePicker.open()" aria-label="Select Date Range">
														<mat-icon>date_range</mat-icon>
													</button>
													<div class="statistics-content-title-toolbar-toggleGroupContainer">
														<mat-button-toggle-group #identificationsByDateToggleGroup class="statistics-content-title-toolbar-toggleGroup" (change)="changeIdentificationsByDateFilter($event.value)" value="identifications">
														  <mat-button-toggle value="identifications">Identifications</mat-button-toggle>
														  <mat-button-toggle value="accuracy score">Accuracy Score</mat-button-toggle>
														</mat-button-toggle-group>
													</div>
												</div>
											</div>
											<div class="statistics-content-container-content">
												<div class="by-date-graph-container">
													<!--<ngx-charts-line-chart [animations]="true" [scheme]="identificationsByDateColorScheme" [legend]="true" 
														[showXAxisLabel]="true"
														[showYAxisLabel]="true"
														[xAxis]="true"
														[yAxis]="true"
														[xAxisLabel]="'Identification Date'" [yAxisLabel]="identificationsByDateYLabel"
														[timeline]="true" [results]="allIdentifications">
													</ngx-charts-line-chart>-->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</mat-tab>
				</mat-tab-group>
           </mat-drawer-content>
		</mat-drawer-container>
    </div>
</div>