@keyframes fadePop {
    from {
        opacity: 0.1;
        transform: translateY(10%);
    }
    to {
        opacity: 1.0;
        transform: translateY(0%);
    }
}
#overview-workspace-container {
    height: 88vh;
    width: 85vw;
    background-color: #F5F6FA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
	border: 1px solid green;
}
.mat-tab-group {
    height: 100%;
    width: 100%;
    background-color: #F5F6FA;
}

:host ::ng-deep .mat-tab-header {
    /*background-image: linear-gradient(-135deg, #509CD0, #214E7D);*/
	background-color: white;
}
#statistics-view-navigation-container{
	background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	border-bottom: 1px solid #CCC;
}
#statistics-view-navigation {
}
#overview-workspace {
    background-color: #F5F6FA;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}
#ranger-statistics-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 80vh;
	padding: 3% 3%;
	overflow-y: auto;
	width: 100%;
}
#ranger-login-statistics-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: auto;
	width: 100%;
}
.statistics-header-container {
	height: 5em;
	width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.statistics-header-container > h1 {
    color: rgba(0, 0, 0, .75);
    font-size: 130%;
    padding: 0;
    margin: 0;
}
.statistics-content-main-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 90%;
	width: 100%;
}
.statistics-content-row-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#ranger-loginby-statistics-content-row1 {
	height: 350px;
}
#ranger-loginby-statistics-content-row2 {
	height: 750px;
}

#ranger-loginby-statistics-content-row3 {
	height: 550px;
}
.statistics-content-container-one {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 3px 8px #CCC;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	width: 45%;
}
.statistics-content-container-two {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 3px 8px #DDD;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 85%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    animation: fadePop 0.7s ease-out 0s 1 normal none;
	padding: 0 2%;
}
.statistics-content-container-title {
	border-bottom: 1px solid #CCC;
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.statistics-content-container-title > p {
    color: rgba(0, 0, 0, .35);
    font-size: 110%;
    padding: 0;
	margin: 0;
}
.statistics-content-container-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: auto;
	min-height: 85%;
	width: 100%;
}
.statistics-content-container-content > ngx-charts-advanced-pie-chart {
	/*border: 1px solid red;*/
}
#ranger-loginbyapp-stats-container {
	width: 40%;
}
#ranger-loginbylevel-stats-container {
	width: 55%;
}
:host ::ng-deep .advanced-pie-legend {
	height: 150px;
}
:host ::ng-deep .total-label {
	margin: 0.7em 0;
}
:host ::ng-deep .advanced-pie-legend .legend-items-container {
	height: 65%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: none;
}
:host ::ng-deep .advanced-pie-legend .legend-items-container .legend-items {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#ranger-loginbyranger-stats-container, #ranger-loginbydate-stats-container {
	width: 100%;
}
#logins-by-ranger-table-container, #logins-by-date-graph-container  {
	height: 100%;
	width: 100%;
}
#logins-by-date-graph-container {
	height: 85%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#logins-by-ranger-table {
	height: 90%;
	width: 100%;
}
.ranger-cell {
    color: #1D1D1D;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.ranger-cell:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
#logins-by-ranger-paginator {
	border-radius: 15px;
	height: 10%;
	width: 100%;
}
.statistics-content-container-four {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50%;
	width: 100%;
}
.statistics-content-container-four > .statistics-content-container-one {
	width: 30%;
}
/*
:host ::ng-deep .mat-tab-labels
{
	background-color: white;
	border-bottom: 3px solid #CCC;
}
:host ::ng-deep .mat-tab-body-wrapper
{
	height: 100%;
	width: 100%;
}
:host ::ng-deep .mat-tab-body-content
{
	background-color: #F5F6FA;
}*/