<div id="animal-search-sidenav">
    <div id="animal-search-controls-container">
        <mat-button-toggle-group id="animal-search-controls" #group="matButtonToggleGroup" name="sortResultsBy">
            <mat-button-toggle value="surname" checked (click)="toggle(true)">Animal</mat-button-toggle>
            <mat-button-toggle value="level" (click)="toggle(false)">Species</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Search animals..." type="text" name="search" [(ngModel)]="searchText" autocomplete="off" (ngModelChange)="updateSearchText($event)">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>
    <div id="animal-search-results-container">
        <mat-selection-list id="animals-by-surnames" [multiple]="false" class="animal-search-results-entries">
            <div class="animal-search-result-entry" *ngFor="let animal of animals | filter:searchText">
                <ng-container *ngIf="sortByCommonName; else sortedByCategories">
                    <div mat-subheader class="animal-search-resultgroup-subheader" *ngIf="checkIfNew(animal.Common_Name)">{{ animal.Common_Name.charAt(0).toUpperCase() }}</div>
                </ng-container>
                <ng-template #sortedByCategories>
                    <div mat-subheader class="animal-search-resultgroup-subheader" *ngIf='checkIfNewGroup(animal.Group_ID[0].Group_Name)'>{{ animal.Group_ID[0].Group_Name | titlecase }}</div>
                </ng-template>
                <mat-list-option class="fontM" [value]="animal">
                    <p class="animal-search-resultgroup-mainentry">{{animal.Common_Name}}</p>
                    <p class="animal-search-resultgroup-subentry">{{animal.Classification}}</p>
                </mat-list-option>
            </div>
        </mat-selection-list>
    </div>
</div>