<div id="animal-search-sidenav">
    <!--div id="animal-search-controls-container">
        <mat-button-toggle-group id="animal-search-controls" #group="matButtonToggleGroup" name="sortResultsBy">
            <mat-button-toggle value="surname" checked (click)="toggle(true)">Animal</mat-button-toggle>
            <mat-button-toggle value="level" (click)="toggle(false)">Groups</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field appearance="outline">
            <input matInput id="search-sidenav-input" placeholder="Search animals..." type="text" name="search" [(ngModel)]="searchText" autocomplete="off" (ngModelChange)="updateSearchText($event)">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div-->
    <div id="animal-search-results-container">
        <mat-selection-list id="animals-by-surnames" [multiple]="false" class="animal-search-results-entries">
            <div class="animal-search-result-entry" *ngFor="let animal of animals | filter:searchText">
                <ng-container *ngIf="sortBy[0]">
                    <div mat-subheader class="animal-search-resultgroup-subheader" *ngIf="checkIfNew(animal.commonName.charAt(0))">{{ animal.commonName.charAt(0).toUpperCase() }}</div>
                </ng-container>
                <ng-template *ngIf="sortBy[1]">
                    <div mat-subheader class="animal-search-resultgroup-subheader" *ngIf='checkIfNew(animal.groupID[0].groupName)'>{{ animal.groupID[0].groupName | titlecase }}</div>
                </ng-template>
                <mat-list-option class="fontM" [value]="animal" (click)="viewAnimalProfile(animal.classification)">
                    <p class="animal-search-resultgroup-mainentry">{{animal.commonName}}</p>
                    <p class="animal-search-resultgroup-subentry">{{animal.classification}}</p>
                </mat-list-option>
            </div>
        </mat-selection-list>
    </div>
</div>