.mat-dialog-title
{
	font-size: 120%;
}
.mat-dialog-content
{
	height: 80%;
}

#add-animal-image-form
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#add-animal-image-container
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.uploadfilecontainer {
	height: 250px;
	width: 80%;
	margin: 20px auto;
	border: 2px dashed #1C8ADB;
	border-radius: 10px;
	align-content: center;
  }
  
  :host ::ng-deep .mat-form-field-wrapper{
	margin-bottom: 0 !important;
  }

  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix 
  {
	  padding: 0.2em 0 0.8em 0;
  }

  .mat-form-field{
	width: 80%;
	margin: 0;
	padding: 0;
  }

  .add-animal-image-form-input
  {
	  width: 40%;
	  margin: 20px 83px;
  }

  #text-area-block{
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  resize: none;
  }

  #img-div{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px;
		padding: 2px;
	}
	
	#img-div > img{
		width: 75px;
		height: 75px;
	}

	#drop-text-div{
		font-size: large;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		padding: 0;
		padding-top: 3px;
	}

 	 #browse-btn-div{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	#browse-btn{
		margin-top: 7px;
		margin-bottom: 10px;
		padding: 0.35em;
		border: none;
		background-color: #686E79;
		color: white;
	}

  .files-list {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 10px auto;
	background: #ffffff;
	border: 1px dashed;
	border-radius: 12px;
	padding: 5px;
	color: #1c8adb;
  }
  
  .files-list .delete-file {
	background: transparent;
	border: none;
	cursor: pointer;
  }
  .files-list .delete-file img{
	width:30px;
  }




.mat-dialog-actions
{
	border-top: 1px solid #CCCCCC;
	height: 15%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.mat-dialog-actions > .mat-button
{
	width: 25%;
}

:host ::ng-deep .mat-button{ 
	padding-top: 0.65em;
	padding-bottom: 0.65em;
	font-size: large;
}

#cancel-btn
{
	border: 2px solid #CCCCCC;
}
#add-animal-btn
{
	background-color: #686E79;
	color: white;
}