:host {
    height: 100vh;
    width: 15vw;
}

#side-navigation-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 2px solid #CCCCCC;
}

#side-navigation-logo-container {
    height: 12%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#side-navigation-logo-container>div:hover {
    cursor: pointer;
}

#side-navigation-logo-container>div {
    background-color: #AAAAAA;
    color: white;
    text-align: center;
    height: 60%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    border-radius: 10px;
}

#side-navigation-routes-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-navigation-route-container {
    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 5% 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.side-navigation-route-container:hover,
#animals-route-link:hover,
.animals-route-links:hover {
    background-color: #F3F3F5;
    cursor: pointer;
}

.side-navigation-route-container:hover .side-navigation-wireframeIcon,
#animals-route-link:hover>#animals-route .side-navigation-wireframeIcon,
.animals-route-links:hover .side-navigation-wireframeIcon,
.activeRoute .side-navigation-wireframeIcon {
    background-color: #686E79;
}

.side-navigation-route-container:hover>p,
#animals-route-link:hover>#animals-route p {
    color: #686E79;
    font-weight: 600;
}

.side-navigation-route-container>p {
    color: #AAAAAA;
    margin: 0;
    font-size: 115%;
}

#animals-route-container,
#rangers-route-container {
    height: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin: 5% 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#animals-route-container>.mat-expansion-panel-header,
#rangers-route-container>.mat-expansion-panel-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

:host ::ng-deep #animals-route-container>.mat-expansion-panel-header>.mat-content,
:host ::ng-deep #rangers-route-container>.mat-expansion-panel-header>.mat-content {
    height: 100%;
}

#animals-route-link,
#rangers-route-link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
}

#animals-route,
#rangers-route {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#animals-route>p,
#rangers-route>p {
    font-size: 110%;
}

#side-navigation-expansion-btn {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#animals-expand-btn-icon,
#rangers-expand-btn-icon {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.rotateIcon {
    transform: rotate(180deg);
}

.animals-route-links,
.rangers-route-links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10% 0;
}

.animals-route-links>p,
.rangers-route-links>p {
    color: #AAA;
    margin: 0;
    padding: 0;
}

.mat-expansion-panel-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 10px;
    border: 1px solid blue;
}

#animals-route>p,
#rangers-route>p,
 :host ::ng-deep .mat-expansion-panel-body>p {
    margin: 0;
    padding: 0;
}

:host ::ng-deep .mat-expansion-panel-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
}

.side-navigation-wireframeIcon {
    background-color: #BBBBBB;
    height: 20px;
    width: 20px;
    margin-right: 10%;
    margin-left: 10%;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.activeRoute {
    background-color: #F3F3F5;
}

.activeRoute p {
    color: #686E79;
    font-weight: 600;
}