<div id="side-navigation-container">
	<div id="side-navigation-logo-container">
		<div class="fontB">LOGO</div>
	</div>
	<div id="side-navigation-routes-container">
		<div id="overview-route" class="side-navigation-route-container">
			<div class="side-navigation-wireframeIcon"></div>
			<p class="fontM">Overview</p>
		</div>
		<div id="animals-route" class="side-navigation-route-container">
			<div class="side-navigation-wireframeIcon"></div>
			<p class="fontM">Animals</p>
		</div>
		<div id="geotags-route" class="side-navigation-route-container">
			<div class="side-navigation-wireframeIcon"></div>
			<p class="fontM">Geotags</p>
		</div>
		<div id="rangers-route" class="side-navigation-route-container">
			<div class="side-navigation-wireframeIcon"></div>
			<p class="fontM">Rangers</p>
		</div>
		<div id="settings-route" class="side-navigation-route-container">
			<div class="side-navigation-wireframeIcon"></div>
			<p class="fontM">Settings</p>
		</div>
	</div>
</div>