<div id="side-navigation-container">
	<div id="side-navigation-logo-container">
		<div (click)='route("overview")' class="fontB">LOGO</div>
	</div>
	<div id="side-navigation-routes-container">
		<div (click)='route("overview")' id="overview-route" class="side-navigation-route-container">
			<div class="side-navigation-wireframeIcon"></div>
			<p class="fontM">Overview</p>
		</div>
		<div (click)='route("animals")' id="animals-route" class="side-navigation-route-container">
			<div class="side-navigation-wireframeIcon"></div>
			<p class="fontM">Animals</p>
		</div>
		<div (click)='route("geotags")' id="geotags-route" class="side-navigation-route-container">
			<div class="side-navigation-wireframeIcon"></div>
			<p class="fontM">Geotags</p>
		</div>
		<div (click)='route("rangers")' id="rangers-route" class="side-navigation-route-container">
			<div class="side-navigation-wireframeIcon"></div>
			<p class="fontM">Rangers</p>
		</div>
		<div (click)='route("settings")' id="settings-route" class="side-navigation-route-container">
			<div class="side-navigation-wireframeIcon"></div>
			<p class="fontM">Settings</p>
		</div>
	</div>
</div>