:host {
    height: 12%;
    width: 100%;
}

#animals-gallery-toolbar-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #CCCCCC;
    background-image: linear-gradient(-135deg, #509CD0, #214E7D);
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.2em 0.5em 0.5em;
    height: 45px;
    align-items: center;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}

#animals-gallery-toolbar-navigationtree-container {
    height: 100%;
    width: 60%;
    display: flex;
    color: white !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
}

#animals-gallery-toolbar-navigation {
    height: 100%;
    color: white !important;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#animals-gallery-toolbar-navigation>a {
    color: white;
    font-size: 130%;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#animals-gallery-toolbar-navigation>a:hover {
    color: #1A1A1A;
    cursor: pointer;
}

#animals-gallery-toolbar-navigation>a.activeView {
    color: white;
}

#animals-gallery-toolbar {
    height: 100%;
    width: 40%;
    font-size: 120%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#animals-gallery-sortby-btn {
    width: 35%;
    border: 1px solid #CCCCCC;
    background-color: white !important;
    padding: 0.5em 0.5em;
    border-radius: 5px;
}

#animals-gallery-toolbar-actions-btn {
    background: rgba(104, 110, 121, 1);
    width: 38%;
    border: 1px solid #CCCCCC;
    background-color: white !important;
    padding: 0.5em 0.5em;
    border-radius: 5px;
}

:host ::ng-deep #animals-gallery-filter-btn .mat-select-value-text,
 :host ::ng-deep #animals-gallery-filter-btn .mat-select-placeholder,
 :host ::ng-deep #animals-gallery-sortby-btn .mat-select-value-text,
 :host ::ng-deep #animals-gallery-sortby-btn .mat-select-placeholder {
    color: #1C1C1C !important;
}

:host ::ng-deep #animals-gallery-toolbar-actions-btn .mat-select-value-text,
 :host ::ng-deep #animals-gallery-toolbar-actions-btn .mat-select-placeholder {
    color: black !important;
}

:host ::ng-deep .mat-form-field-outline {
    background-color: #ffffff;
    border: #5084d3 solid 1px;
    border-radius: 5px;
}